extends ../../layout.pug

block body
  div.ui.orange.message
    div.header This example is not yet implemented completely. Fill free to &nbsp;
      a(href='https://github.com/WhitestormJS/whitestorm.js/pulls') make a PR and fix it.

    br

    div.ui.sub.header.small TODO:
    ul.list
      li Fix combination of post-processing with VREffect.

    br

    div.ui.sub.header.small REASON:
    ul.list
      li Needs API changes

block additional
  script(src='../../../modules/whs-module-statsjs/build/StatsModule.js')
  script(src='../../../modules/whs-vrkit/build/VRKit.js')
