/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
/* string content */
/* a keyword */
/* a comment */
/* a type name */
/* a literal value */
/* punctuation */
/* lisp open bracket */
/* lisp close bracket */
/* a markup tag name */
/* a markup attribute name */
/* a markup attribute value */
/* a declaration */
/* a variable name */
/* a function name */
/* Use higher contrast and text-weight for printable form. */
/* Style */
/*
pre.prettyprint {
  background: white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px; }
*/
/* Specify class=linenums on a pre to get line numbering */
/* IE indents via margin-left */
/* Alternate shading for lines */
.pln {
  color: #fff;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen {
  .str {
    color: #FFE169;
  }
  .kwd {
    color: #FFE169;
  }
  .com {
    color: #A9B0C2;
  }
  .typ {
    color: #fff;
  }
  .lit {
    color: #66C4FF;
  }
  .pun {
    color: #DEE7FF;
  }
  .opn {
    color: #DEE7FF;
  }
  .clo {
    color: #DEE7FF;
  }
  .tag {
    color: #c82829;
  }
  .atn {
    color: #f5871f;
  }
  .atv {
    color: #3e999f;
  }
  .dec {
    color: #f5871f;
  }
  .var {
    color: #c82829;
  }
  .fun {
    color: #4271ae;
  }
}
@media print {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun {
    color: #440;
  }
  .opn {
    color: #440;
  }
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
@media projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun {
    color: #440;
  }
  .opn {
    color: #440;
  }
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
