#common_css {
  display: none;
}

body {
  background: #fff;
  margin: 0px;
  padding: 0px;
  direction: ltr;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
}
body.nofixed {
  width: 100%;
  overflow: hidden;
}
body.nofixed #page_wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.fixed {
  position: fixed;
}
body.nofixed .fixed, body.mobfixed .fixed {
  position: absolute;
}
body.firefox #page_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.table td {
  vertical-align: top;
  text-align: left;
}

/* in 'rtl' left and ltr too -- disabling content jumping when scrollbar changes */
.scroll_fix_wrap {
  text-align: left;
  direction: ltr;
}
a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0px;
}
form {
  margin: 0px;
  padding: 0px;
}
small {
  font-size: 10px;
}
textarea.ashelper {
  overflow: hidden;
}

.captcha {
  text-align: center;
  height: 80px;
}
.captcha img {
  width: 130px;
  height: 50px;
  background: url(/images/vklogo.gif);
  cursor: pointer;
}
.captcha input.text {
  width: 120px;
  margin: 10px 0px 0px;
}
.captcha .progress {
  width: 120px;
  margin: 13px auto 0px;
}
.phone_validation_suggest {
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  line-height: 15px;
}

.summary_wrap {
  color: #45688E;
  padding: 13px 10px 0px;
  background: #FFF;
  border-bottom: 1px solid #DAE1E8;
}
.summary_wrap .summary {
  font-weight: bold;
  padding: 3px 0px 4px;
}
.summary_wrap .summary span {
  font-weight: normal;
}
.bottom_wrap {
  border-top: 1px solid #DAE1E8;
  background: #FFF;
  padding: 0px 10px;
}

.png {
  behavior: url(/js/iepngfix.htc);
}
.progress, .progress_inv, .progress_inv_img {
  display: none;
  width: 32px;
  height: 13px;
  background: url(/images/upload.gif) no-repeat 50% 50%;
}
.progress_inline {
  display: inline;
  display: inline-block;
  _zoom: 1;
  vertical-align: bottom;
  width: 32px;
  height: 13px;
  background: url(/images/upload.gif) no-repeat 50% 50%;
}
.progress_inv, .progress_inv_img {
  background-image: url(/images/upload_inv.gif);
}
.progress_inv_img {
  background-color: rgba(0, 0, 0, 0.5);
}
.checkbox {
  cursor: pointer;
  line-height: 14px;
}
.checkbox.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.checkbox div {
  float: left;
  width: 15px;
  margin-right: 5px;
  height: 14px;
  background: url(/images/icons/check.gif) 0px 0px no-repeat;
}
.checkbox:hover div {
  background-position: 0px -28px;
}
.checkbox.disabled:hover div {
  background-position: 0px 0px;
}
.checkbox.on div {
  background-position: 0px -14px;
}
.checkbox.on:hover div {
  background-position: 0px -42px;
}
.checkbox.disabled.on:hover div {
  background-position: 0px -14px;
}
.radiobtn {
  cursor: pointer;
  line-height: 14px;
}
.radiobtn div {
  float: left;
  width: 15px;
  margin-right: 5px;
  height: 14px;
  margin-bottom: 1px; /* Second line fix */
  background: url(/images/icons/radio.gif) 0px 0px no-repeat;
}
.radiobtn:hover div {
  background-position: 0px -28px;
}
.radiobtn_hover div {
  background-position: 0px -28px;
}
.radiobtn.on div {
  background-position: 0px -14px;
}
.radiobtn.on:hover div {
  background-position: 0px -42px;
}
.radiobtn.on.radiobtn_hover div {
  background-position: 0px -42px;
}
.fl_l { float: left; }
.fl_r { float: right; }
.ta_l { text-align: left; }
.ta_r { text-align: right; }

.upload_frame {
  position: absolute;
  visibility: hidden;
  width: 20px;
  height: 20px;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Inputs */

input[type="text"],
input[type="submit"],
input[type="button"],
input[type="search"],
input[type="password"],
input[type~="text"],
input[type~="search"],
input[type~="password"],
input[type~="email"] {
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}

input.text, input.search, textarea {
  background: #FFF;
  border: 1px solid #C0CAD5;
  font-family: tahoma, tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  padding: 3px;
  margin: 0px;
}
input.search {
  background: #FFF url(/images/magglass.png) no-repeat 3px 4px;
  padding-left: 17px;
}
input.file {
  font-size: 11px;
  margin: 0px;
}
input.disabled {
  color: #777777;
  background-color: #F2F2F2;
}

/* Headers */

h2 {
  border-bottom: 1px solid #DAE1E8;
  color: #45668E;
  font-size: 13px;
  padding: 0px 0px 3px;
  margin: 0px 0px 10px;
}
h4 {
  border-bottom: 1px solid #E8EBEE;
  color: #45688E;
  font-size: 11px;
  font-weight: bold;
  margin: 0px;
  padding: 0px 0px 3px;
}
h4 .fl_r, h4 span {
  font-weight: normal;
}

/* Layout */

div#utils {
  top: -30px;
  position: absolute;
  height: 20px;
  overflow: hidden;
}
#page_layout {
  padding: 0px;
  margin: 0px auto;
  position: relative;
  z-index: 6;
  width: 791px;
}
#page_header .back {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #4E729A url(/images/hat.gif) 0px -43px repeat-x;
}
#page_header .left {
  position: absolute;
  left: 0px;
  width: 134px;
  height: 40px;
  background: #4E729A url(/images/hat.gif) 0px -1px;
}
#page_header .right {
  position: absolute;
  right: 0px;
  width: 10px;
  height: 40px;
  background: #4E729A url(/images/hat.gif) 100% -1px;
}
#page_header .content {
  position: absolute;
  width: 100%;
  z-index: 120;
}
#page_header.p_head_l777 .left, #page_header.p_head_l777 .right, #page_header.p_head_l777 .back {
  background-color: #4E729A;
  background-image: url(/images/hatsov.gif);
}
#page_header.p_head_l100 .left, #page_header.p_head_l100 .right, #page_header.p_head_l100 .back {
  background-color: #4E729A;
  background-image: url(/images/hatimp.gif);
}
#page_header.p_head_l100 .left {
  width: 135px;
}
#page_header.p_head_l100 .right {
  width: 10px;
}
#page_header.p_head1 .right {
  background: #4E729A url(/images/hatvk3.gif) 100% -1px;
}
#page_header.p_head1 .left {
  width: 47px;
  background: #4E729A url(/images/hatvk3.gif) 0px -1px;
}
#page_header.p_head1 .back {
  background: #4E729A url(/images/hatvk3.gif) 0px -43px repeat-x;
}
#page_header.p_head1.p_head_l100 .left {
  width: 10px;
}
.p_head_l777 #search_cont, .p_head_l777 #gsearch {
  border-color: #851614;
}
.p_head_l100 #search_cont, .p_head_l100 #gsearch {
  border-color: #45372F;
}
.p_head_l777 .head_nav a, .p_head_l777 .head_nav div, .p_head_l777 .homelink, .p_head_l777 .unl,
.p_head_l100 .head_nav a, .p_head_l100 .head_nav div, .p_head_l100 .homelink, .p_head_l100 .unl {
  color: #E6E5B8;
}
#page_header {
  height: 40px;
}
.top_home_link {
  width: 146px;
  height: 40px;
  display: block;
}
.top_home_link_td {
  width: 146px;
}
.top_back_link_td {
  width: 100%;
}
.homelink, .shah, .unl {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  color: #FFF;
  font-weight: bold;
  padding: 7px 0px 0px 14px;
  font-size: 11px;
  display:block;
  width: 153px;
  z-index: 410;
  overflow: hidden;
}
.shah {
  padding-top: 8px;
  color: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: 400;
}
.vklink {
  font-size: 15px;
  padding: 10px 17px 10px;
}
.shah.vklink {
  padding-top: 11px;
}
.unl {
  margin-top: 21px;
  padding-top: 0px;
  font-weight: normal;
  display: block;
  font-size: 10px;
  color: #dae1e8;
}
a.unl:hover, a.homelink:hover {
  text-decoration: underline;
}
.head_nav {
  margin: 0px;
  padding: 0px 8px 0px 0px;
}
.head_nav a.top_nav_link {
  display: block;
  padding: 12px 10px 15px;
  height: 13px;
  margin: 0px;
  font-weight: bold;
  font-size: 11px;
  color: #E8EFF7;
  text-shadow: 0px 1px 0px #416389;
}
.head_nav div#top_links {
  padding: 0px;
  height: 22px;
  background-image: none;
}
.head_nav.no_menu div#top_links {
  display: none;
}
.head_nav.no_menu a#logout_link {
  display: none;
}
.head_nav a.top_nav_link:hover {
  color: #FFF;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.head_nav a.top_nav_link b {
  font-weight: normal;
  color: #E8EFF7;
}

.head_nav a.top_nav_link span {
  color: #FFF;
}

#page_body {
  font-size: 11px;
  width: 631px;
  padding: 0px 15px 0px 0px;
}
#page_body.simple {
  padding: 0px;
  margin: 0px auto;
}
body.firefox #page_body {
  overflow: hidden;
}
body.firefox #page_body.no_overflow {
  overflow: visible;
}
#wrap2 {
  border: solid #F3F3F3;
  border-width: 0px 1px 1px;
  border-color: rgba(100, 100, 100, 0.08);
}
#wrap1 {
  border: solid #D9E0E7;
  border-width: 0px 1px 1px;
}
#wrap_between {
  height: 0px;
  overflow: hidden;
}
* html #content {
  height: 1%;
}

#header_wrap1 {
  border: solid #F3F3F3;
  border-width: 0px 1px;
}
#header {
  position: relative;
  font-weight: bold;
  font-size: 11px;
  padding: 7px 10px;
  line-height: 140%;
  background: #E9EDF1;
  color: #607387;
  border: solid #D9E0E7;
  border-width: 0px 1px;
}
#page_body.simple #header {
  border-width: 1px 1px 0px;
}
#title b {
  position: relative;
}
#header h1 {
  margin: 0px;
  font-size: 11px;
  overflow: hidden;
}
#header span, #header b {
  color: #AAB7C5;
}

/* Left notifier */

.left_box {
  text-align: center;
  padding: 10px 5px;
  background: #F7F7F7;
  margin: 0px 0px 10px;
}
.left_box h4 {
  font-size: 12px;
  border-bottom: solid 1px #DAE1E8;
  padding: 0px 0px 3px;
  margin: 0px 5px 3px;
}
.left_box.attention h4 {
  color: #45688E;
}

.left_hide {
  position: absolute;
  margin: 0px 118px;
  width: 18px;
  height: 18px;
  background: url(/images/hide_left.gif) no-repeat center center;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.left_gift_bonus, .left_rate_plus {
  color: #C4BB98;
  font-size: 10px;
  font-weight: bold;
  margin-top: -11px;
}
.left_gift {
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 10px;
}
.left_gift .body {
  background: #F7F7F7;
  border: 6px solid #EAEAEA;
  padding: 4px 4px 7px;
  text-align: center;
}
.left_gift .body div {
  border-bottom: 1px solid #DCDCDC;
  margin: 0px 3px 7px;
  padding-bottom: 2px;
}
.left_gift.gold {
  border-color: #C4BB98;
}
.left_gift.gold .body {
  background: #FEF9E1;
  border-color: #E9DEB4;
}
.left_gift.gold .body div {
  border-color: #C4BB98;
}

.left_rate_plus {
  color: #EEBD00;
}
.left_rate_plus.green {
  color: #8DB55F;
}
.left_rate_plus.red {
  color: #C5864F;
}
.left_rate_plus.blue {
  color: #99B3C9;
}
.left_rate .body {
  background: #FAF3D8 url(/images/golden.gif) repeat-x 50% 100%;
  border-bottom: 1px solid #FBE172;
  margin: 0px 0px 10px;
  padding: 5px;
  text-align: center;
}
.left_rate .body div {
  border-bottom: 1px solid #E6E0B6;
  margin: 0px 3px 7px;
  padding-bottom: 2px;
}
.left_rate .body div a {
  color: #908851;
}
.left_rate .body a {
  color: #000;
}
.left_rate .body a:hover {
  text-decoration: none;
}
.left_rate.green, .left_rate.red, .left_rate.blue {
  border-bottom: 1px solid #37702A;
  margin-bottom: 10px;
}
.left_rate.green .body, .left_rate.red .body, .left_rate.blue .body {
  background: #D5EABB url(/images/greenl.gif) repeat-x 50% 0%;
  border: 8px solid #8DBF56;
  margin-bottom: 0px;
}
.left_rate.green .body a div, .left_rate.red .body a div, .left_rate.blue .body a div {
  border: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #8DBF56;
  margin: 5px 5px 5px 3px;
}
.left_rate.green .body div {
  border-color: #8DBF56;
}
.left_rate.green .body div a {
  color: #37702A;
}
.left_rate.red {
  border-color: #8B4C23;
}
.left_rate.red .body {
  background: #F0D6C7 url(/images/redl.gif) repeat-x 50% 0%;
  border-color: #C68D69;
}
.left_rate.red .body div {
  border-color: #C39679;
}
.left_rate.red .body div a {
  color: #8B4C23;
}
.left_rate.red .body a div {
  color: #C68D69;
}
.left_rate.blue {
  border-color: #2F6C95;
}
.left_rate.blue .body {
  background: #D9E6EE url(/images/bluel.gif) repeat-x 50% 0%;
  border-color: #99B3C9;
}
.left_rate.blue .body div {
  border-color: #99B3C9;
}
.left_rate.blue .body div a {
  color: #0B5588;
}
.left_rate.blue .body a div {
  color: #99B3C9;
}
.left_gift .body div.vote_transfer {
  padding: 5px 0px 12px;
  font-weight: bold;
}

.ad_box {
  background: #F7F7F7;
  border: 1px solid #C0CAD5;
  border-width: 1px 0px;
  padding-bottom: 10px;
  width: 118px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.ad_title {
  font-weight: bold;
  font-size: 11px;
  margin: 0px 3px;
  color: #36638E;
  padding-top: 8px;
  text-align: center;
}
.ad_box img {
  padding-top: 8px
}
.ad_desc {
  padding-top: 8px;
  margin: 0px 2px;
}
a.ad_box:hover {
  text-decoration: none;
}
a.ad_box .ad_desc {
  color: #000;
}
.ad_box.ad_friend {
  border-bottom-width: 0px;
  padding-bottom: 0px;
}
.ad_box_friend .ad_body {
  max-height: 140px;
  width: 118px;
  overflow: hidden;
}
.ad_box.ad_friends {
  border-top-width: 0px;
  padding-top: 12px;
}
.ad_help_link {
  margin-top: 3px;
  font-size: 10px;
  text-align: center;
}
.ad_complain {
  padding-top: 8px;
  font-size: 10px;
  text-align: center;
}
.ad_complain span {
  color: #2B587A;
}
.ad_complain span:hover {
  text-decoration: underline;
}

#ads_play_btn {
  position: absolute;
  top: 46px;
  left: 36px;
  width: 46px;
  height: 46px;
  background: url("/images/ad_video_play.png") no-repeat scroll 0 0 transparent;
}

.ad_box_new {
  background: #FFFFFF;
  border: 1px solid #DCE3E9;
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 11px 0px;
  margin: 0px;
  width: 118px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.ad_title_new {
  font-weight: bold;
  font-size: 11px;
  margin: 0px 3px;
  margin-top: 6px;
  color: #36638E;
  text-align: center
}
.ad_domain_new {
  margin-top: 3px;
  font-size: 10px;
  color: #909090;
}
.ad_box_new img {
  margin-top: 9px
}
.ad_desc_new {
  margin: 0px 2px;
  margin-top: 10px;
  color: #000000;
}
.ad_disclaimer_new {
  color: #777777;
  font-size: 9px;
  margin: 10px 0px 0px;
  line-height: 11px;
}

a.ad_box_new:hover {
  text-decoration: none;
}

.ad_box_new .left_hide_new {
  position: absolute;
  margin: 4px 0px 0px 117px;
  *margin-left: 60px;
  width: 18px;
  height: 18px;
  background: url(/images/hide_left.gif) no-repeat center center;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.ad_hide_mask_new {
  background-color: #F7F7F7;
  position: absolute;
  z-index: 5;

  display: none;
  opacity: 0;
  filter: alpha(opacity=0);

  border: 1px solid #DCE3E9;
  border-width: 1px 0px;
  padding: 0px;
  margin: -1px 0px 0px 0px;
  width: 118px;
  overflow: hidden;
  text-align: center;
}
#ad_hide_mask_ad_0 {
  margin-top: 0px;
}

.ad_info_new {
  color: #808080;
  font-size: 10px;
}
.ad_complain_new {
  margin-top: 10px;

  color: #808080;
  font-size: 10px;
}
.ad_complain_info_new {
  color: #808080;
  font-size: 10px;
}
.ad_complain_link_new {
  color: #2B587A;
  font-size: 10px;
  text-decoration: none;
}
.ad_complain_link_new:hover {
  text-decoration: underline;
  cursor: pointer;
}
#ad_box_ad_0 {
  border-top-width: 1px;
}
.ad_box_friend {
  border-top-width: 1px;
  border-bottom-width:0px; padding-bottom:0px
}


/* Footer */

#footer_wrap {
  /*clear: both;*/
  line-height: 15px;
  padding: 8px 0px 0px;
  text-align: center;
  width: 661px;
}
#footer_wrap.simple {
  margin: 0px;
  width: auto;
}
#footer_wrap.simple #bottom_nav {
  display: none;
}
#footer_wrap .copy_lang a {
  margin: 0px 2px;
}
#footer_wrap #footer {
  padding: 10px 0px 0px;
  text-align: center;
  margin: 0px;
}

#bottom_nav a {
  padding: 2px 5px;
}
#bottom_nav a:hover {
  background-color: #E1E7ED;
  text-decoration: none;
}

/* Left menu */

#left_ads {
  position: relative;
}
#side_bar {
  padding: 5px 0 10px 4px;
  width: 118px;
}
#side_bar .more_div {
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid #E7EAED;
}
#side_bar ol li a.more {
  padding-left: 29px;
  border-top: 0px;
}
#side_bar ol li a.more:hover {
  border-top: 0px;
}

#side_bar ol {
  list-style: none;
  margin: 0px 0px 10px;
  padding: 0px;
}
#side_bar ol li {
  font-size: 1.0em;
}
#side_bar ol li#myprofile {
  border-bottom: 0;
  *margin-bottom:-2px;
}
#side_bar ol li a {
  border: 0;
  background: #FFF;
  display: block;
  padding: 4px 3px 4px 6px;
}
#side_bar ol li a.more {
  padding-left: 6px;
}
#side_bar ol li#myprofile a {
  padding: 0;
  width: auto;
}
#side_bar ol li#myprofile a.hasedit {
  width: 76px;
  padding: 3px 3px 3px 6px;
}
#side_bar ol li#myprofile a.edit {
  color: gray;
  text-align: center;
  width: 28px;
  padding: 3px 0px 3px 1px;
}
#side_bar ol li a:hover {
  background: #E1E7ED;
  text-decoration: none;
}
#side_bar ol li#myprofile a.edit:hover {
  color: #67829E
}

/* Clear */

.clear_fix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clear_fix {
  height: 1%;
}
.clear_fix {
  display: block;
}
.clear {
  float: none;
  clear: both;
}
.scroll_fix {
  position: relative;
}

/* Head */

.listing {
  list-style: square;
  padding-left: 40px;
  color: #758EAC;
  margin: 0px 0px 15px 0px
}
ul.listing li {
  padding: 1px 0px;
}
ul.listing li span {
  color: #000;
}

.divide  {
  color: gray;
  font-weight: normal;
  padding: 0px 4px;
}
small.divide {
  padding: 0px 2px;
}

.sdivide {
  color: #ADB8C3;
  padding: 0px 4px;
  font-size: 10px;
}

.wrapped {
  overflow: hidden;
  word-wrap: break-word;
}

wbr {
  width: 0px;
  display: inline-block;
  overflow: hidden;
}

.ad_box {
  background: #F7F7F7;
  border: 1px solid #C0CAD5;
  border-width: 1px 0px;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  width: 118px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.ad_title {
  font-weight: bold;
  font-size: 11px;
  margin: 0px 3px;
  color: #36638E;
  padding-top: 8px;
  text-align: center;
}
.ad_box img {
  padding-top: 8px
}
.ad_desc {
  padding-top: 8px;
  margin: 0px 2px;
}
a.ad_box .ad_desc {
  color: #000;
}

#stl_left {
  z-index: 3;
  left: 0px;
  top: 0px;
}
#stl_left:hover, #stl_left.over {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
#stl_text {
  height: 14px;
  display: block;
  padding: 0px 20px;
  margin: 0 31px 0 15px;
  font-weight: bold;
  color: #45688E;
  background: url(/images/toplink.gif?3) no-repeat left 3px;
}
#stl_left .down {
  background-position: left -7px;
}
#stl_left .back {
  background-position: left -22px;
}
.stl_active {
  cursor: pointer;
}
#stl_bg {
  height: 100%;
  width: 100px;
  padding: 13px 0 13px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  /*-o-transition: background-color 200ms linear;*/
  transition: background-color 200ms linear;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  /*-o-transition: opacity 200ms linear;*/
  transition: opacity 200ms linear;
}
.stl_active:hover #stl_bg, .stl_active.over #stl_bg {
  opacity: 1;
  filter: alpha(opacity=100);
}
.stl_active.over_fast #stl_bg {
  background-color: #E1E7ED;
}
#stl_side {
  z-index: 10;
}
#top_back_link {
  padding-left: 25px;
  background: url(/images/backlink.gif?4) no-repeat left -85px;
  max-width: 220px;
  overflow: hidden;
  display: none;
}
#top_back_link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Layers */

#layer_bg, #box_layer_bg, #layer_wrap, #box_layer_wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow: hidden;
  display: none;
}
#box_layer_bg, #box_layer_wrap {
  z-index: 1000;
}
#box_layer_bg {
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

@-moz-document url-prefix() {
  #box_layer_bg {
    background: url(/images/layer_bg_lite.png);
    opacity: 1 !important;
  }
}

#layer_wrap, #box_layer_wrap {
  overflow: auto;
}
#layer_wrap {
  overflow-x: hidden;
  overflow-y: auto;
}

/* MessageBox */

.popup_box_container {
  margin: 0px auto;
  z-index: 1002;
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}
#box_loader {
  position: absolute;
  left: 50%;
  margin: 0px auto 0px -50px;
  z-index: 1002;
  width: 100px;
  display: none;
}
#box_loader .back {
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  height: 50px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}
#box_loader .loader {
  background: url(/images/upload_inv_mono.gif) no-repeat 50% 50%;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.box_title_wrap {
  background-color: #597DA3;
  border: 1px solid;
  border-color: #45688E #43658A;
  padding: 0px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.box_x_button {
  float: right;
  width: 17px;
  height: 17px;
  margin: 7px 5px 0px;
  cursor: pointer;
  padding: 0;
  background: #9DB7D4 url(/images/boxicon_vk.gif) -23px -2px;
}
.box_body {
  background-color: #FFF;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 16px 14px;
  aline-height: 14px;
}
.box_no_title {
  border-top: 1px solid #999;
}
.box_controls_wrap {
  border: 1px solid #999;
  border-top: 0px;
}
.box_controls_text {
  padding: 8px 8px 0px;
}
.box_controls {
  padding: 8px 5px 7px;
  height: 30px;
  background-color: #F2F2F2;
  border-top: 1px solid #DAE1E8;
}
.box_controls .progress {
  position: relative;
  margin: 7px 10px 0px;
}
.controls_wrap {
  padding: 7px 0px 0px 5px;
}

.button_yes, .button_no, .button_cancel {
  cursor: pointer;
  width: auto;
  height: auto;
}
.box_controls .button_wrap {
  padding: 2px 5px;
  float: right;
}
.button_yes div, .button_no div {
  padding: 4px 14px;
  text-align: center;
}

.button_cancel .button, .button_cancel .leave_button, .button_cancel .button_hover, .button_cancel .button_down {
  padding: 6px 15px;
  *padding: 7px 15px;
  text-align: center;
}

.button_yes {
  border: 1px solid #3B6798;
  text-shadow: 0px 1px 0px #45688E;
}
.button_yes_bottom {
  border-bottom: 1px solid #2B587A;
}
.button_yes div {
  border-style: solid;
  border-width: 1px;
  border-color: #7E9CBC #5C82AB #5C82AB;
  background-color:#6D8FB3;
  color: #FFF;
}
.button_yes div.button_hover {
  border-color: #92ACC7 #7293B7 #7293B7;
  background-color: #84A1BF;
}
.button_yes div.button_down {
  border-color: #4f749d #4f749d #5c82ab;
  background-color: #5e84a9;
}
.button_no {
  border: 1px solid #B8B8B8;
  border-top: 1px solid #9F9F9F;
  text-shadow: 0px 1px #FFF;
}

.button_cancel {
  color: #2B587A;
}

.button_cancel .button_hover, .button_cancel .button:hover, .button_cancel .leave_button:hover {
  background: #E1E7ED;
}

.button_no div {
  border: 1px solid #F4F4F4;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #DFDFDF;
  background-color: #eaeaea;
  color: #000;
  text-decoration: none;
}
.button_no div.button_hover {
  background-color: #f7f7f7;
}

.button_yes.locked .lock span, .button_no.locked .lock span {
  visibility: hidden;
}

.button_yes.locked .lock, .button_no.locked .lock {
  background: url(/images/upload.gif) no-repeat center 7px;
}

.box_title {
  border-top: 1px solid #648CB7;
  padding: 6px 10px 8px 10px;
}
.box_no_controls {
  background-color: #DAE1E8;
  border: 1px solid #ADBBCA;
}
.box_no_controls .box_title_wrap, .box_no_controls .box_layout .box_controls {
  display: none;
}
.box_no_controls .box_body {
  border: none;
  padding: 0;
}

.delete_all .clear_fix {
  margin-top: 10px;
}
.delete_all .button_gray {
  margin: 0px 10px;
}

/*
 New input buttons with gradient
*/
.button_blue, .button_gray {
  text-align: center;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}
.box_controls .button_blue, .box_controls .button_gray {
  margin: 2px 5px;
}
.button_blue button, .button_gray button {
  border: 1px solid;
  background: none;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px 4px;
  *padding: 5px 15px 3px;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  overflow: visible;
}
.button_wide {
  display: block;
}
.button_wide button {
  width: 100%;
}

.button_blue button::-moz-focus-inner,
.button_gray button::-moz-focus-inner {
  border: 0;
}

.button_blue {
  border: 1px solid #45688E;
  background: #5D81A7;
}
.button_blue button {
  border-top-color: #789ABF;
  border-bottom-color: #5980A9;
  border-left-color: #5980A9;
  border-right-color: #5980A9;
  color: #FFF;
  text-shadow:0 1px 0 #45688E;
  *border: 0;
  background: url(/images/button_vk.png) #6181a6 repeat-x top;
  background-position: 0px -16px;
  *background-position: 0px -16px;
}
.button_blue button:hover,
.button_blue button.hover {
  background-position: 0px -8px;
}
.button_blue button:active,
.button_blue button.active {
  background: #5e80a5;
  border: 1px solid #5e80a5;
  position:relative;
}
.button_gray {
  border: 1px solid #b3b3b3;
  background: #e0e0e0;
}
.button_gray button {
 border-top-color: #ffffff;
 border-bottom-color: #e5e5e5;
 border-left-color: #e7e7e7;
 border-right-color: #e7e7e7;
 color: #444;
 text-shadow:0 1px 0 #ffffff;
 *border: 0;
 background: url(/images/button_vk.png) #dddddd repeat-x top;
 background-position: 0px -54px;
}
.button_gray button:hover {
 background-position: 0px -46px;
}
.button_gray button:active {
  background: #dcdcdc;
  border: 1px solid #dcdcdc;
  position:relative;
}
.button_lock {
  background: url('/images/upload_inv.gif') center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.button_gray .button_lock {
  background: url('/images/upload.gif') center no-repeat;
}

a.button_link:hover {
  text-decoration: none;
}

/* Pages */

.page_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page_list li {
  float: left;
  display: inline;
}
.page_list a {
  border-bottom: 2px solid #FFF;
  display: block;
  padding: 3px 3px 2px;
}
.page_list a:hover {
  background: #597DA3;
  border-bottom: 1px solid #597DA3;
  color: #FFF;
  text-decoration: none;
}
.page_list .current {
  background: #FFF;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
  padding: 3px 2px 2px;
}
.pages_bottom .page_list .current {
  padding-top: 1px;
  border-bottom-color: white;
  border-top: 2px solid #45668E;
}

.flat_tabs {
  border-bottom: 1px solid #DAE1E8;
  height: 24px;
  list-style-type: none;
  margin: 0pt;
  padding: 0px 7px;
  vertical-align: bottom;
}
.flat_tab_on {
  background-color: #FFF;
  border: 1px solid #C3CAD2;
  border-bottom: 0px;
  float: left;
  height: 24px;
  margin: 0px 3px -1px;
  text-align: center;
  position: relative;
}
.flat_tab_on a {
  float: left;
  padding: 5px 10px;
  text-decoration: none;
}
.flat_tab {
  background-color: #F5F7FA;
  border: 1px solid #C3CAD2;
  border-bottom: 0px;
  float: left;
  height: 23px;
  margin: 0px 3px;
  text-align: center;
}
.flat_tab a {
  border-bottom: 2px solid #EEF0F3;
  float: left;
  padding: 5px 10px 3px;
  text-decoration: none;
}
.flat_tab a:hover {
  background-color: #FFF;
  text-decoration: none;
}
.flat_tab a:hover{
  background-color: #FFF;
  border-bottom: 2px solid #F5F9FC;
  text-decoration: none;
}

div.audio td {
  border: 0px;
  vertical-align: top;
  padding: 2px;
}
.audio .play {
  cursor: pointer;
  width: 20px;
  height: 17px;
  background: url(/images/play.gif) no-repeat 0px 0px;
}
.audio .info {
  width: 100%;
}
.audio_title_wrap {
  width: 260px;
  overflow: hidden;
}
.audio .duration {
  color: #777;
  font-size: 10px;
  padding: 4px 0 0 4px;
  cursor: default;
}
.audio .player_wrap {
  height: 14px;
  margin-left: 28px;
  margin-right: 21px;
  padding-top: 3px;
}
.audio:last-child .player_wrap {
  height: 7px;
}
.audio .playline {
  padding-top: 5px;
}
.audio .playline div {
  border-top: 1px dashed #D8DFEA;
  height: 9px;
}
.audio .player {
  display: none;
  height: 14px;
}
.add_audio_plus {
  background: #C4D2E1 url(/images/icons/plus_icon3.gif) no-repeat;
  height: 17px;
  width: 16px;
  cursor: pointer;
  margin-top: -2px;
}
.add_audio_plus.done {
  background-position: 0 -17px;
  background-color: #6B8DB1;
  cursor: default;
}

#box_layer {
  padding: 1px 0px 80px;
}
#box_layer .video_box .wrap {
  position: relative;
}
#box_layer .video_box div {
  position: relative;
  z-index: 1011;
}
#box_layer .video_box .background {
  position: absolute;
  z-index: 1010;
}
#box_layer .video_box .description,
#box_layer .video .description {
  padding-top: 10px;
  position: relative;
}
#box_layer .video_box .no_flash_wrap {
  padding-top: 160px;
}
#box_layer .video_box .no_flash {
  margin: auto;
  width: 320px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  position: relative;
  z-index: 1015;
}
#box_layer .flash_needed .button_blue {
  margin: 15px auto 0px;
  width: 150px;
}
#box_layer .flash_needed .button_blue button {
  width: 100%;
}

#quick_auth_frame {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 123px;
  height: 300px;
}
#quick_login {
  width: 123px;
}
#quick_reg_button {
  margin-top: 7px;
}
#quick_login .text {
  width: 115px;
}
#quick_login .submit {
  position: absolute;
  color: #FFF;
  border: 0;
  padding: 0;
  margin: 0;
  background: #FFF;
  left: -8000px;
  top: -8000px;
}
#quick_login .label {
  color: #666;
  padding-bottom: 4px;
}
#quick_login .labeled {
  padding-bottom: 7px;
}
#quick_login .checkbox {
  margin-bottom: 7px;
  display: none;
}
#quick_login .reg {
  margin-top: 7px;
}
#quick_login .forgot {
  padding-top: 5px;
  text-align: center;
}

.msg, .error, .info_msg, .box_msg {
  line-height: 160%;
  padding: 8px 11px;
}
.error {
  background: #FFEFE8;
  border: 1px solid #E89B88;
}
.info_msg {
  background: #F6F7F9;
  border: 1px solid #DBE0EA;
}
.msg, .box_msg {
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
}
.box_msg {
  font-weight: bold;
}

#system_msg {
  z-index: 5000;
  left: 0px;
  top: 0px;
  display: none;
  border-radius: 0px 0px 6px;
  -moz-border-radius: 0px 0px 6px;
  -khtml-border-radius: 0px 0px 6px;
  -webkit-border-radius: 0px 0px 6px;
  padding: 7px 10px;
}

#bad_browser {
  border-bottom: 1px solid #B8C7D3;
  background-color: #F2F4FF;
}
#bad_browser .info {
  padding: 8px;
  text-align: center;
  line-height: 150%;
}
#bad_browser #good_browsers {
  display: none;
}
#bad_browser #good_browsers div {
  width: 400px;
  height: 100px;
  margin: 10px auto 0px;
}
#bad_browser #good_browsers a {
  width: 100px;
  height: 20px;
  padding-top: 80px;
}

/* qsearch section */
#qsearch_link {
  margin-top: 9px;
  padding: 3px 15px 7px 15px;
}
#qsearch_link.active {
  background-color: #5B7DA4;
  border: 1px solid #3E5F84;
  text-decoration: none;
  padding: 2px 14px 6px 14px;
}
#qsearch_link.active:hover {
  text-decoration: none;
}
#quick_search {
  display: none;
  margin-top: 9px;
  width: 241px;
  overflow: hidden;
  overflow-y: visible;
}
#search_cont {
  background-color: #FFFFFF;
  width: 240px;
  border: 1px solid #3E5F84;
  border-left: 0;
  height: 19px;
}
#search_input {
  border: 0px none white;
  font-size: 11px;
  height: 13px;
  outline: none;
  overflow: hidden;
  padding: 3px 0px 3px 10px;
}
#search_input {
  width: 229px;
}
#quick_search .input_back {
  padding-top: 2px !important;
  line-height: 13px;
}

#search_sub_menu div.s_photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0px 10px 0px 0px;
  line-height: 22px;
}
#search_sub_menu div.s_photo img {
  width: 50px;
  vertical-align: middle;
}
#search_sub_menu a.i_note div.s_photo,
#search_sub_menu a.i_group div.s_photo,
#search_sub_menu a.i_public div.s_photo,
#search_sub_menu a.i_event div.s_photo,
#search_sub_menu a.i_audio div.s_photo,
#search_sub_menu a.i_app div.s_photo,
#search_sub_menu a.i_ad div.s_photo {
  background-image: url(/images/icons/qsearch_hints.gif?1);
}
#search_sub_menu a.i_audio div.s_photo { background-position: 0 0; }
#search_sub_menu a.i_app div.s_photo { background-position: 0 -50px; }
#search_sub_menu a.i_event div.s_photo { background-position: 0 -100px; }
#search_sub_menu a.i_group div.s_photo { background-position: 0 -150px; }
#search_sub_menu a.i_ad div.s_photo { background-position: 0 -200px; }
#search_sub_menu a.i_note div.s_photo { background-position: 0 -300px; }

#search_sub_menu div.s_title {
  cursor: pointer;
  height: 42px;
  margin-top: 4px;
  width: 540px;
  overflow: hidden;
}
#search_sub_menu div.s_title span {
  background-color: #FFF8CC;
  border-bottom: 1px solid #FFE222;
  padding: 0 1px;
}
#search_sub_menu a.sub_item:hover, #search_sub_menu a.sub_item_over:hover, #search_sub_menu a.sub_item_next_over:hover {
  text-decoration: none;
}
#search_sub_menu .s_title {
  color: #2B587A;
  font-weight: bold;
}
#search_sub_menu .s_title div {
  color: #000;
  font-weight: normal;
  padding-top: 4px;
}

#search_sub_menu .sub_item {
  background-color: #FFFFFF;
  border-top: 1px solid #E1E9EF;
  color: #000000;
  display: block;
  padding: 4px 12px 4px 6px;
}
#search_sub_menu a.sub_item {
  border-bottom: 1px solid #FFFFFF;
  height: 50px;
  padding: 6px 12px;
  vertical-align: middle;
}
#search_sub_menu a.sub_item.over {
  background-color: #EDF1F5;
  border-bottom: 1px solid #EDF1F5;
  text-decoration: none;
}
#search_sub_menu a.s_search_by {
  font-weight: bold;
  border-bottom: 1px solid #F7F7F7;
  background-color:#F7F7F7;
  height: 27px;
}
#search_sub_menu .s_search_by .s_title {
  color: #2B587A;
  margin-top: 7px;
}

.tabs {
  background: #F7F7F7;
  padding: 8px;
}
.tabs .outer {
}
.tabs .tab a {
  display: inline-block;
}
.tabs .tab a:hover {
  text-decoration: none;
}
.tabs .tab {
  display: inline-block;
  margin-right: 12px;
  padding: 2px;
}
.tabs .tab.selected {
  border-bottom: 1px solid #FFFFFF;
  padding: 0px;
}
.tabs .tab b {
  padding: 2px 5px 2px 5px;
  display: inline-block;
}
.tabs .tab.selected a {
  border-top: 1px solid #395676;
  border-right: 1px solid #3b6798;
  border-bottom: 1px solid #4a73a0;
  border-left: 1px solid #3b6798;
  color: #FFFFFF;
}
.tabs .tab.selected b {
  border: 1px solid #5C82AB;
  background: #6D8FB3;
}
.summary_tabs {
  padding: 5px 5px;
  border-bottom: 1px solid #DAE1E8;
  background: #F7F7F7;
}
.summary_right {
  padding: 8px 5px;
}
.summary_tab, .summary_tab_sel {
  font-weight: bold;
  padding: 8px 5px 7px;
}
.summary_tab2 {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px 5px 4px;
  display: block;
}
.summary_tab2:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.summary_tab_sel .summary_tab2, .summary_tab_sel .summary_tab2:hover {
  background: #597DA3;
}
.summary_tab3 {
  max-width: 230px;
  *display: inline;
  height: 13px;
  overflow: hidden;
  font-weight: bold;
  color: #45688E;
  padding: 0px 3px;
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
  line-height: 120%;
}
.summary_tab_sel .summary_tab3 {
  color: #FFF;
}
.summary_tab_x {
  width: 11px;
  height: 11px;
  margin: 2px 1px 0px;
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  cursor: pointer;
  filter: alpha(opacity=12);
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.summary_tab_x:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.summary_tab_sel .summary_tab_x {
  background-position: 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.summary_tab_sel .summary_tab_x:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.no_select {
  user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -khtml-user-select: none;
}
.select_fix {
  user-select: text;
 -o-user-select: text;
 -moz-user-select: text;
 -khtml-user-select: text;
}

.input_back_wrap {
  position: relative;
  z-index: 90;
  cursor: text;
}
.input_back {
  position: absolute;
  color: #777;
  z-index: 90;
}
.choose_box .input_back {
  margin: 9px 4px 0px;
}
.input_back_content {
  padding: 0px 2px;
  white-space: nowrap;
  line-height: normal;
}

.sort_blank {
  border: 1px dashed #D8DFEA;
}

.divider {
 color: #777;
 font-weight: normal;
 padding:0px 5px;
}

small.divider {
 padding:0px 2px;
}

.unshown {
  display: none;
}

.hidden {
  visibility: hidden;
}

#global_prg {
  position: absolute;
  z-index: 400;
}

/* Tabs */
.tabs.t_bar {
  background: #FFF;
}
.t_bar {
  padding: 11px 10px 0px;
  border-bottom: solid 1px #597DA3;
}
ul.t0 {
  width: 605px;
}
ul.t0, ul.t0 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.t0 li {
  float: left;
  text-align: center;
}
ul.t0 li.active_link a, ul.t0 li.active_link a:hover {
  background: #597DA3;
  color: #FFFFFF;
}
ul.t0 li a:hover {
  background: #E1E7ED;
  color: #2B587A;
  text-decoration: none;
}
ul.t0 a {
  float: left;
  padding: 0 0 5px 0;
  margin-right: 5px;
  text-decoration: none;
  background-color: #FFF;
  max-width: 250px;
}
ul.t0 .tab_word {
  margin: 0px 10px;
  font-weight: normal;
  max-width: 230px;
  display: block;
  _display: inline;
  height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
}
ul.t0 .t_r {
  float: right;
  padding: 5px 0 0;
  *padding: 0;
  line-height: 13px;
}
ul.t0 .t_r a {
  margin:0;
}
ul.t0 .t_r a:hover {
  text-decoration: underline;
  background:#FFFFFF;
}
.tl1, .tl2 {
  display: block;
  height: 1px;
  background-color: #FFF;
  overflow: hidden;
  margin: 0px;
  border: 1px solid #FFF;
  border-width: 0px 2px;
}
.tl2 {
  margin-bottom: 3px;
  border-width: 0px 1px;
}
ul.t0 li a {
  outline: none;
}
ul.t0 li a:hover b.tl1, ul.t0 li a:hover b.tl2 {
  background-color: #E1E7ED;
}
ul.t0 li.active_link a b.tl1, ul.t0 li.active_link a:hover b.tl1 {
  background-color: #597DA3;
  border-width: 0px 1px;
}
ul.t0 li.active_link a b.tl1 b, ul.t0 li.active_link a:hover b.tl1 b {
  display: block;
  height: 1px;
  background: #597DA3;
  overflow: hidden;
  margin: 0px;
  border: 1px solid #9AB1C6;
  border-width: 0px 1px;
}
ul.t0 li.active_link a b.tl2, ul.t0 li.active_link a:hover b.tl2 {
  background-color: #597DA3;
  border-color: #9AB1C6;
}

#flash_audio {
  height: 0px;
  top: 5px;
}
.audio .play_new {
  cursor: pointer;
  width: 20px;
  height: 16px;
  background: url(/images/playpause.gif) no-repeat 0px 0px;
}

.side_filter {
  border: 1px solid #F7F7F7;
  color: #2B587A;
  cursor: pointer;
  padding: 4px 5px 4px 9px;
  background-color: #F7F7F7;
  background-repeat: no-repeat;
  width: 120px;
}

.side_filter_over {
  border: 1px solid #DAE1E8;
  color: #2B587A;
  background-color: #DAE1E8;
}

.side_filter.cur_section {
  background-color: #6D8FB3;
  border: 1px solid #3B6798;
  color: #FFFFFF;
}

.side_filter.loading {
  background-image: url(/images/upload_inv_mini.gif);
  background-position: 110px center;
  background-repeat: no-repeat;
}

.sort_rev_icon, .sort_not_rev_icon {
  width: 15px;
  height: 11px;
  background: url(/images/photoorder.gif) left 0px;
}
.sort_not_rev_icon {
  background-position: left -14px;
}

.pg_more_link {
  display: block;
  padding: 10px;
  border-top: 1px solid #FFF;
  text-align: center;
}
.pg_more_link:hover {
  text-decoration: none;
  background: #E9EDF1;
  border-top: 1px solid #DAE1E8;
}
.pg_more_progress {
  margin: 0px auto;
}
.pg_lnk {
  padding-bottom: 3px;
}
.pg_lnk:hover {
  padding-bottom: 0px;
  border-bottom: 3px solid #DAE1E8;
  text-decoration: none;
}
.pages_bottom .pg_lnk {
  padding-top: 4px;
  padding-bottom: 0px;
}
.pages_bottom .pg_lnk:hover {
  padding-top: 1px;
  border-bottom: 0px;
  border-top: 3px solid #DAE1E8;
  text-decoration: none;
}
.pg_pages {
}
.pg_in {
  padding: 2px 5px;
}
.pg_lnk .pg_in {
  padding: 2px 6px;
}
.pg_lnk_sel {
  font-weight: bold;
  color: #45688E;
  border-bottom: 1px solid #2B587A;
}
.pg_lnk_sel:hover {
  text-decoration: none;
}
.pg_lnk_sel .pg_in {
  border-bottom: 3px solid #597DA3;
}
.pages_bottom .pg_lnk_sel {
  border-top: 1px solid #2B587A;
  border-bottom: 0px;
}
.pages_bottom .pg_lnk_sel .pg_in {
  border-top: 3px solid #597DA3;
  border-bottom: 0px;
}
#pg_fixed {
  top: 20px;
  z-index: 200;
  display: none;
}
.pg_fixed_back {
  background: #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
}
.pg_fixed_pages {
  position: relative;
  padding: 5px 10px;
}
.pg_flnk:hover, .pg_flnk_rd:hover, .pg_flnk_sel:hover, .pg_flnk_nb:hover {
  text-decoration: none;
}
.pg_flnk, .pg_flnk_rd, .pg_flnk_sel, .pg_flnk_nb {
  font-size: 13px;
  color: #CCC;
  padding: 2px 5px 1px;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.pg_flnk {
  border-bottom: 1px solid #CCC;
}
.pg_flnk_rd {
  border-bottom: 1px solid #FFF;
}
.pg_flnk, .pg_flnk_rd, .pg_flnk_nb {
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
.pg_flnk:hover, .pg_flnk_rd:hover, .pg_flnk_nb:hover {
  color: #FFF;
}
.pg_flnk_nb {
  font-weight: normal;
  padding: 2px 3px 1px;
}
.pg_flnk_sel {
  color: #FFF;
  border-bottom: 4px solid #FFF;
}

/* Box notify */
.top_result_baloon_wrap {
  padding-top: 50px;
  z-index: 1200;
}

.top_result_baloon {
  color: #FFF;
  cursor: pointer;
  background: url('/images/mv_bg.png');
  background: rgba(0, 0, 0, 0.75);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0 2px 15px #888;
   -webkit-box-shadow: 0 2px 15px #888;
   box-shadow: 0 2px 15px #888;

  padding: 15px 15px;
  width: 380px;
  text-shadow: 0px 1px 0px #262626;
  line-height: 160%;
}
div.top_result_header {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 5px;
}
div.top_result_baloon a {
  color: #B1DAFF;
  font-weight: bold;
}

/* dropbox styles */
.dropbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1550;
  background: #FFF url(/images/dropbox_arrow.png) no-repeat 55px 11px;
  display: none;
}
.dropbox.choose {
  background: #FFF url(/images/dropbox_arrow.png) no-repeat 75px 31px;
  border-bottom: 1px solid #DAE1E8;
}
.dropbox_wrap {
  padding: 30px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.dropbox.choose .dropbox_wrap {
  padding: 50px;
}
.dropbox_area {
  text-align: center;
  color: #7F92A5;
  font-size: 14px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  border: 3px dashed #A3B6C9;
  position: relative;
  min-height: 100%;
}
.dropbox_label {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
}
.left_restore_link {
  /*position: absolute;*/
  margin: 10px 0px 0px 0px;
  padding: 8px;
  background: #F7F7F7;
  width: 110px;
  line-height: 140%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.piechart_col_header {
  color: #45688e;
  font-weight: bold;

  margin-bottom: 20px;
}

.piechart_column {
  padding: 15px 10px;
}
.piechart_row {
  padding: 6px 0px;
  overflow: visible;
}
.piechart_stat_name {
  color: #45688e;
  font-weight: bold;
}
.piechart_stat_info {
  color: #777;
  margin-top: 5px;
}

.piechart_tooltip {
  position: absolute;
  z-index: 5000;
  width: 400px;

  color: white;
  line-height: 200%;
  display: none;
}

.piechart_tooltip div.background {
  color: black;

  background-color: black;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.piechart_tooltip div {
  position: absolute;
  padding: 10px;
}

.piechart_rows_root.transp_children .piechart_column .piechart_row {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
}

.piechart_rows_root.transp_children .piechart_column .piechart_row.hovered {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* new top nav styles */

.ts_contact {
  display: block;
  height: 30px;
  padding: 4px 8px;
  line-height: 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}
.ts_contact:first-child {
  padding-top: 8px;
}
.ts_contact:last-child {
  padding-bottom: 8px;
}
.ts_contact_photo img {
  width: 30px;
  height: 30px;
  background: 0 0 no-repeat;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.ts_contact_status {
  display: none;
  background: url("/images/icons/rbox_full.png?3") 0 -49px no-repeat;
  width: 7px;
  height: 7px;
  margin: 12px 0 0 4px;
}
.ts_contact_online .ts_contact_status {
  display: block;
}
.ts_contact.active.write .ts_contact_status {
  display: block;
  background: url("/images/icons/rbox_full.png?3") 1px -83px no-repeat;
  width: 11px;
  height: 11px;
  margin: 10px 0 0 1px;
}
.ts_contact.active.go .ts_contact_status,
.ts_search_link .ts_contact_status {
  display: block;
  background: url("/images/icons/rbox_full.png?3") 0 -99px no-repeat;
  width: 11px;
  height: 12px;
  margin: 9px 0 0 1px;
}
.ts_contact_name {
  line-height: 30px;
  padding: 0 0 0 8px;
  white-space: nowrap;
  display: block;
  width: 133px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ts_search_link .ts_contact_name {
  padding: 0;
  width: 166px;
}
em.ts_clist_hl {
  font-style: normal;
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  margin: 0px;
  padding: 0px 1px;
}

#ts_wrap {
  position: absolute;
  top: 0px;
  left: 144px;
  height: 40px;
  width: 170px;
  background: #4E729A url(/images/hat.gif) 0px -43px repeat-x;
}
#ts_wrap.vk {
  left: auto;
  right: 45px;
  width: 600px;
}
#ts_wrap .input_back {
  color: #7B838E;
}
#ts_wrap .ts.dark .input_back {
  color: #7A8CA0;
}
div.ts_back_link {
  margin-bottom: 1px;
  overflow: hidden;
  width: 410px;
}
div.ts_input_wrap {
  position: relative;
  top: 50%;
  background: #426285;
  width: 166px;

  background-image: linear-gradient(top, #375a7f 0%, #55779d 80%);
  background-image: -o-linear-gradient(top, #375a7f 0%, #55779d 80%);
  background-image: -moz-linear-gradient(top, #375a7f 0%, #55779d 80%);
  background-image: -webkit-linear-gradient(top, #375a7f 0%, #55779d 80%);
  background-image: -ms-linear-gradient(top, #375a7f 0%, #55779d 80%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #375a7f),
    color-stop(0.8, #55779d)
  );
  -moz-box-shadow: 0 1px 0 0 #6f91bb;
  -webkit-box-shadow: 0 1px 0 0 #6f91bb;
  box-shadow: 0 1px 0px 0px #6f91bb;

  margin-top: -12px;
  padding: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
#ts_wrap.vk div.ts_input_wrap {
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 110px;
}
div.ts_input_wrap2 {
  margin-right: 26px;
}
div.ts {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFFFFF;

  background-image: linear-gradient(top, #efefef 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #efefef 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #efefef 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #efefef 0%, #ffffff 100%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #efefef),
    color-stop(1, #ffffff)
  );
}
div.ts.dark {
  background-image: linear-gradient(top, #d0d0d0 0%, #eee 100%);
  background-image: -o-linear-gradient(top, #d0d0d0 0%, #eee 100%);
  background-image: -moz-linear-gradient(top, #d0d0d0 0%, #eee 100%);
  background-image: -webkit-linear-gradient(top, #d0d0d0 0%, #eee 100%);
  background-image: -ms-linear-gradient(top, #d0d0d0 0%, #eee 100%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #d0d0d0),
    color-stop(1, #eee)
  );
}
div.ts .input_back {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
#ts_input {
  border: 0;
  padding: 4px 4px 3px 22px;
  outline: 0;
  margin: 0px;
  width: 100%;
  background: url(/images/search_icon_d.gif) no-repeat 6px -11px;

  -moz-box-shadow: inset 0 1px 4px 0px #c0c4c9;
  -webkit-box-shadow: inset 0 1px 4px 0px #c0c4c9;
  box-shadow: inset 0 1px 4px 0px #c0c4c9;

  height: 14px;
  line-height: 15px;
}
#ts_wrap.vk #ts_input {
  background: url(/images/search_icon.gif) no-repeat 6px 5px;
}
.ts.dark #ts_input {
  -moz-box-shadow: inset 0 1px 4px 0px #a9b6c6;
  -webkit-box-shadow: inset 0 1px 4px 0px #a9b6c6;
  box-shadow: inset 0 1px 4px 0px #a9b6c6;
  background: url(/images/search_icon_d.gif) no-repeat 6px 5px;
  background: url(/images/search_icon_d.gif) no-repeat 6px -11px\9;
}
.ts_query {
  font-weight: bold;
}
#ts_cont_wrap {
  position: absolute;
  top: 49px;
  left: 147px;
  background: #FFF;
  width: 211px;
  z-index: 800;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  -moz-box-shadow: 0 0 6px #999;
  -webkit-box-shadow: 0 0 6px #999;
  box-shadow: 0 0 6px #999;
  display: none;
}
#ts_cont_wrap.vk {
  right: 1px;
  left: auto;
}
#ts_cont_wrap.none {
  display: none;
}
*:first-child+html #ts_cont_wrap,
* html #ts_cont_wrap {
  border: 1px solid #a6b6c6;
  right: 0;
}
.ts_settings {
  background: url(/images/settings_icon.gif) 10px 9px no-repeat;
  display: block;
  padding: 12px 19px 15px 18px;
  height: 13px;
  margin: 0px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#ts_cont_wrap a.ts_contact.active {
  text-decoration: none;
  background: #EDF1F5;
  background: none repeat scroll 0 0 rgba(219, 227, 235, 0.5);
}
#ts_cont_wrap a.ts_contact:first-child,
#ts_cont_wrap a.ts_search_link:first-child {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#ts_cont_wrap a.ts_contact:last-child,
#ts_cont_wrap a.ts_search_link:last-child {
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ts_link {
  display: block;
  height: 20px;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
.ts_link:first-child {
  padding-top: 8px;
}
.ts_link:last-child {
  padding-bottom: 8px;
}
a.ts_link:hover {
  text-decoration: none;
  background: #EDF1F5;
  background: none repeat scroll 0 0 rgba(219, 227, 235, 0.5);
}
a.ts_search_link {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 4px 13px;
  white-space: nowrap;
  overflow: hidden;
}
a.ts_search_link:hover {
  text-decoration: none;
}
a.ts_search_link.active {
  text-decoration: none;
  background: #EDF1F5;
  background: none repeat scroll 0 0 rgba(219, 227, 235, 0.5);
}

/* Special mems */
.mem_special100 {
  color: #2E7B27;
  font-weight: bold;
}

/* Round tabs */
.round_tab {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  color: #45688E;
  font-weight: bold;
  padding: 3px 8px 4px;
  float: left;
}
.round_tab.visible {
  background-color: #E1E7ED;
}
.round_tab.selected {
  color: white;
}
.round_tab:hover {
  background-color: #E1E7ED;
  text-decoration: none;
}
.round_tab.visible:hover {
  background-color: #D7E0E7;
}
.round_tab.selected,
.round_tab.selected:hover {
  background-color: #597DA3;
}
