#im_css {
  display: none;
}

#tab_conversation, #tab_friends, #tab_spam, #tab_search, #tab_write {
  display: none;
}
#im_top_tabs .active_link {
  display: block;
}
#im_bar {
  padding: 5px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
}

.im_bar_controls {
  padding: 3px 5px 2px 0;
  display: none;
}
#im_bar .im_bar_controls .button_blue {
  margin: 3px 0 2px 8px;
}
#im_bar .im_bar_controls button {
  padding: 2px 8px;
  line-height: 15px;
  height: 21px;
}
.im_cancel_mark {
  padding: 6px 0 0;
}
.im_spam_hint {
  color: #777;
  padding: 8px 0 0 8px;
}

#im_tabs {
  padding: 3px 0px 2px;
}
.im_tab, .im_tab_selected, .im_tab_over {
  cursor: pointer;
  padding: 5px 1px 5px 5px;
  float: left;
}
.im_tab2 {
  padding: 3px 6px 4px;
}
.im_tab_over .im_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
}
.im_tab_selected .im_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #597DA3;
}
.im_tab3 {
  font-weight: bold;
  color: #45688E;
  padding-left: 2px;
  padding-right: 5px;
}

.im_tab_selected .im_tab3 {
  color: #FFF;
}

.im_tabx {
  margin-top: 2px;
  width: 11px;
  height: 11px;
}
.im_tab .im_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  filter: alpha(opacity=12);
}

.im_tab_over .im_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.im_tab_selected .im_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.im_tab_selected .im_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#im_progress {
  margin-top: 2px;
}

#im_top_sh, #im_bottom_sh {
  display: none;
  position: absolute;
  width: 627px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  margin-top: -1px;
}
#im_bottom_sh {
  margin-top: -2px;
  top: 0;
  left: 0;
}

.dialogs_row {
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  border-bottom: 1px solid #e4e8ed;
}
.dialogs_deleted_row {
  cursor: default;
}
.dialogs_new_msg {
  background: #edf1f5;
  border-color: #DAE1E8;
}
.dialogs_row_t {
  width: 100%;
}
.dialogs_row_over {
  background: #edf1f5;
  border-color: #DAE1E8;
}
.dialogs_row_over .dialogs_new_msg {
  background: #DAE1E8;
}
.dialogs_photo {
  width: 50px;
  padding: 5px 5px 2px;
  vertical-align: top;
}
.dialogs_info {
  padding: 5px;
  vertical-align: middle;
  width: 125px;
}
.dialogs_user {
  width: 120px;
}
.dialogs_online {
  color: #aaa;
  padding: 3px 0 2px;
}
.dialogs_date {
  color: #999999;
  font-size: 10px;
}
.dialogs_msg_contents {
  padding: 0px;
  vertical-align: middle;
}
.dialogs_msg_body {
  padding: 6px 8px 8px;
}
.dialogs_deleted_row .dialogs_msg_body {
  color: #777;
  line-height: 20px;
  text-align: center;
}
.dialogs_msg_text {
  color: #67829E;
  line-height: 160%;
  width: 355px;
}
.dialogs_msg_body .dialogs_inline_author {
  width: 32px;
  height: 32px;
  margin: 3px 10px 2px 0;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div.dialogs_inline_chatter {
  width: 23px;
  height: 23px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  float: left;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
img.dialogs_inline_chatter {
  width: 23px;
  height: 23px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.dialogs_inline_chatter_half {
  height: 50px;
}
img.dialogs_inline_chatter_half {
  margin-left: -12px;
  height: 50px;
  width: 50px;
}
#im_dialogs_next {
  display: none;
}
.dialogs_chat_title {
  font-weight: bold;
  width: 240px;
}
.dialogs_del_wrap {
  display: none;
  position: absolute;
  right: 15px;
  margin-top: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.dialogs_row_over .dialogs_del_wrap {
  display: block;
}
.dialogs_del_wrap:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dialogs_del {
  cursor: pointer;
  background: url(/images/pics/statusx_op.gif) no-repeat;
  height: 11px;
  width: 11px;
}


/* force reload! */
#im_dialogs_refresh {
  display: none;
}
#im_more_dialogs, #im_more_friends, .im_more {
  display: block;
  margin-top: -1px;
  border-top: 1px solid #DAE1E8;
  text-align: center;
  padding: 10px;
}
.im_more {
  border-top: 0;
  border-bottom: 1px solid #DAE1E8;
  margin: 0 10px 10px;
}
#im_more_dialogs:hover, #im_more_friends:hover, .im_more:hover {
  text-decoration: none;
  background: #E9EDF1;
}
#im_more_dialogs, #im_more_friends {
}

/* Conversation log */
.im_log_t {
  /* margin: 0 71px 0 auto; */
  width: 100%;
}

.im_log_t td {
  border-top: 5px solid #FFF;
  padding: 5px;
  vertical-align: top;
}
.im_log_t .im_in,
.im_log_t .im_out {
  cursor: pointer;
}
.im_log_t .wall_module .post_media {
  width: auto;
}
.im_log_t .post_media td {
  padding: 0;
  border-top: 0;
}
.im_log_author {
  text-align: right;
  padding-right: 10px !important;
  width: 32px;
}
.im_log_author a {
  color: #8FAAC7;
  font-weight: bold;
  width:
}
.im_in .im_log_author a {
  color: #2B587A;
}
div.im_log_author_chat_thumb {
  width: 32px;
  height: 32px;
  overflow: hidden;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: right;
}
img.im_log_author_chat_thumb {
  width: 32px;
}
.im_log_author_chat_name {
  padding-bottom: 2px;
  color: #777;
}
.im_log_author_chat_name .mem_link, .im_log_author_chat_name .im_chat_link {
  font-weight: bold;
}
.im_log_body {
  line-height: 130%;
  width: 350px;
  /* vertical-align: middle ! important; */
}
.im_log_body div.wrapped, .im_log_body .wall_module .post_media {
  width: 350px;
}
.im_log_body  .wall_module .video {
  *position: static;
}
.im_log_body  .wall_module .video div {
  *display: none;
}
.wall_module .im_msg_media .post_media {
  padding-top: 4px;
}
.im_log_body .im_log_match {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  margin: 0px;
  padding: 0px 1px;
}
.im_msg_media_photo {
  min-height: 87px;
  *height: 87px;
}
.im_msg_media_video {
  height: 105px;
  overflow: hidden;
}
img.im_video_thumb {
  max-height: 98px !important
}
img.im_photo_thumb {
  max-height: 87px !important
}

.im_audio_filler {
  height: 45px;
}
.im_photo_filler {
  height: 87px;
}
.im_video_filler {
  height: 98px;
}
.im_doc_filler {
  height: 27px;
}
.im_forward_filler {
  height: 100px;
}
.im_log_act {
  width: 65px;
  padding-left: 10px !important;
}
.im_log_date {
  padding-left: 8px !important;
  color: #999;
  width: 55px;
  /* width: 110px; */
}
a.im_date_link {
  color: #999;
}
.im_log_act div.im_log_check_wrap, .im_log_ract div.im_log_context_wrap {
  visibility: hidden;
  zoom: 1;
}
.im_log_rspacer {
  width: 61px;
}
.im_new_msg .im_log_author,
.im_new_msg .im_log_body,
.im_new_msg .im_log_date {
  background: #EDF1F5;
}
.im_sel_row .im_log_author,
.im_sel_row .im_log_body,
.im_sel_row .im_log_date,
.im_sel_row {
  background: #EDF1F5;
}
.im_sel_row div.im_log_check_wrap {
  visibility: visible;
}
.im_sel_row .im_log_check {
  background-position: 0 -65px;
}
.im_new_msg .im_log_date a.im_date_link,
.im_sel_row .im_log_date a.im_date_link,
.im_new_msg .im_fwd_log_date,
.im_sel_row .im_fwd_log_date {
  color: #879BB0;
}

.im_new_msg .wall_module .media_desc .lnk,
.im_sel_row .wall_module .media_desc .lnk,
.im_new_msg .im_media_mail_title,
.im_sel_row .im_media_mail_title {
  color: #6A7989;
}
.im_del_row {
  background: #F4EBD6;
}
.im_del_row td {
  background: #F4EBD6 !important;
  padding-bottom: 4px;
  border-bottom: 1px solid #ECE4CF;
}
.im_del_row .im_log_body {
  color: #7F7661;
}
.im_spam_row .im_log_body {
  color: #728292;
}
.im_marked_res {
  padding-top: 9px;
}
.im_add_row .im_marked_res {
  padding-top: 3px;
}
.im_spam_row {
  background: #E0E7EC;
}
.im_spam_row td {
  padding-bottom: 4px;
  border-bottom: 1px solid #DADFEA;
}
.im_del_row .im_date_link, .im_spam_row .im_date_link {
  display: none;
}
.im_log_t td.im_log_act {
  padding: 4px;
  /* border-bottom-color: #FFF !important; */
}
.im_log_check, .im_log_context {
  cursor: pointer;
  width: 21px;
  height: 16px;
  background: url(/images/icons/plus_icon1.gif?2) 0 -44px no-repeat;
  margin-top: 10px;
}
.im_log_context {
  background-position: 0 -84px;
}
.im_log_check_on {
  background-position: 0 -65px;
}

.im_add_row td {
  border-top: 0;
}
.im_add_row .im_log_author a,
.im_add_row .im_log_date span,
.im_add_row .im_log_date a.im_date_link,
.im_add_row .im_log_author_chat_thumb,
.im_add_row .im_log_author_chat_name {
  display: none;
}
.im_add_row .im_log_check {
  margin-top: 0;
}
.im_add_row .im_log_date .im_log_date_error {
  display: inline;
  color: #800;
}
.im_attach_photo,
.im_attach_video,
.im_attach_doc,
.im_attach_mail,
.im_attach_audio,
.im_attach_geo {
  float: left;
  background: url(/images/icons/mono_iconset.gif?6) no-repeat 0 0;
  width: 11px;
  height: 11px;
  margin: 3px 5px 2px 0;
}
.im_attach_photo {
  background-position: 0px -30px;
}
.im_attach_video {
  background-position: 0px -75px;
}
.im_attach_audio {
  background-position: 0px -222px;
}
.im_attach_doc {
  background-position: 0px -280px;
}
.im_attach_mail {
  background-position: 0px -294px;
}
.im_attach_geo {
  background-position: 0px -165px;
}

/* Im fwd log */
.im_media_mail_title {
  color: #777;
}
.im_fwd_log_wrap {
  margin: 10px 0 5px 3px;
  border-left: 2px solid #C3D1E0;
  padding-left: 10px;
  min-width: 382px;
}

.wall_module .media_desc .audio_title_wrap b {
  background: none;
  width: auto;
  height: auto;
  margin: 0;
}
.im_fwd_log_row .audio_title_wrap,
.im_fwd_log_row .post_media .audio_title_wrap {
  width: 220px;
}
.im_fwd_log_t {
  width: 100%;
}
.im_fwd_log_t .im_fwd_log_row td.im_fwd_log_author {
  padding-top: 5px;
  width: 43px;
}
.im_fwd_log_t .im_fwd_log_row td.im_fwd_log_body {
  padding-top: 5px;
}
.im_fwd_log_body .im_log_author_chat_name {
  display: block;
}
.im_fwd_log_author .im_log_author_chat_thumb a {
  display: inline;
}
.im_fwd_log_author .im_log_author_chat_thumb {
  /* display: inline; */
  display: block;
  margin-right: 11px;
}
.im_fwd_log_date {
  color: #999;
  padding-left: 5px;
}
.im_log_body div.im_fwd_log_wrapped {
  width: 290px;
}
.im_fwd_log_add_row div.im_fwd_log_wrapped {
  /* padding-top: 5px; */
}

.im_error {
  display: none;
  background-color: #FFEFE8;
  border: 1px solid #E89B88;
  font-size: 11px;
  margin: 8px;
  padding: 8px 11px;
}

/* IM controls */
#im_controls_wrap {
  position: relative;
}
#im_resizer_wrap {
  background-color: #F2F2F2;
  padding: 3px;
  cursor: s-resize;
  *height: 10px;
  *overflow: hidden;
}
.im_resizer {
  width: 40px;
  border-top: 1px solid #DAE1E8;
  border-bottom: 1px solid #FFF;
  margin: 0 auto 1px;
}
#im_footer_filler {
  background: #FFF;
  height: 300px;
  margin: 0 -2px;
  overflow: hidden;
}
#im_footer_sh {
  height: 1px;
  margin: 0 -1px;
  background-color: #D9E0E7;
  border-bottom: 1px solid #F3F3F3;
}
#im_sound_controls {
  background-color: #F2F2F2;
  border-top: 1px solid #DAE1E8;
  padding: 13px 10px;
}
#im_browser_notify {
  display: none;
}
#im_peer_controls_wrap {
  background-color: #F2F2F2;
}
#im_peer_controls {
  border-top: 1px solid #DAE1E8;
  padding: 8px 15px 0 67px;
}
td#im_user_holder {
  width: 50px;
  padding-right: 10px;
  vertical-align: top;
}
img.im_user_holder {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
td#im_peer_holders {
  width: 130px;
  padding-left: 10px;
  vertical-align: top;
}
.im_photo_holder {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  overflow: hidden;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_photo_holder img {
  width: 50px;
}
.im_status_holder {
  width: 50px;
  padding: 3px 0;
  color: #999;
  text-align: center;
}
.im_peer_mini_holder {
  padding-bottom: 4px;
}
.im_peer_mini_holder:nth-child(2) {
  margin-right: 60px;
}
.im_peer_mini_holder .im_photo_holder {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.im_peer_mini_holder .im_photo_holder img {
  width: 23px;
}
.im_status_online {
  margin-left: 17px;
  position:relative;
  top: -8px;
  /* margin: -6px 0 0 26px; */
  width: 4px;
  height: 4px;
  border: 1px solid #EEE;
  background: #5A9DD1;
  background: #8fa9c7;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 10;
}
.im_write_form {
  vertical-align: top;
}
#im_texts {
  position: *relative;
  padding-bottom: 6px;
}
.im_txt_wrap {
  position: relative;
}
.im_txt {
  width: 350px;
  height: 42px;
  padding: 3px;
  margin: 0;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  resize: none;
}
.im_txt_warn {
  display: none;
  padding-top: 5px;
  color: #777;
}
#im_send_wrap {
  position: relative;
}
#im_add_media {
  padding: 6px 9px 0;
}
#im_chat_actions, #im_to_dialog {
  display: none;
  position: relative;
}
.im_media_progress {
  background-position: 50% 50%;
}
.im_attach_label {
  font-weight: bold;
  padding-top: 3px;
}
.im_preview_photo_wrap, .im_preview_video_wrap {
  position: relative;
  height: 57px;
  overflow: hidden;
  cursor: pointer;
  padding: 0 10px 8px 0;
}
#im_media_preview .im_preview_doc_wrap {
  padding: 0 10px 8px 0;
}
div.im_preview_photo, div.im_preview_video {
  height: 57px;
  overflow: hidden;
}
div.im_preview_video {
  max-width: 75px;
  *width: 75px;
  overflow: hidden;
}
div.im_preview_photo_doc {
  width: 100px;
  min-height: 30px;
  background: #000000;
  text-align: center;
}
.im_preview_doc_photo_hint {
  width: 80px;
  *width: 100px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  padding: 3px 10px 1px 10px;
  font-size: 9px;
  margin-bottom: 5px;
  *background: #000000;
  background: rgba(0,0,0,0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  *height: 18px;
}
img.im_preview_video {
  max-width: 75px;
  *width: 75px;
}
.im_doc_photo {
  width: 130px;
  min-height: 30px;
  background: #000000;
  text-align: center;
}
.wall_module .photo .im_doc_photo img {
  max-height: none;
}
.im_doc_photo_hint {
  width: 110px;
  text-align: center;
  color: #FFFFFF;
  *background: #000000;
  background: rgba(0,0,0,0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  *height: 18px;
  padding: 2px 10px;
  font-size: 9px;
  margin-bottom: 5px;
  z-index: 1;
}
.im_doc_photo_href:hover {
  text-decoration: none;
}
#im_media_preview {
  position: relative;
  margin-bottom: 0;
}
#im_media_preview .im_media_x {
  cursor: pointer;
  margin-left: -15px;
  background: url(/images/im_attach_cross.png) no-repeat 0 0;
  width: 15px;
  height: 15px;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#im_docs_preview .im_media_x {
  cursor: pointer;
  margin: 4px 5px 0px;
  background: url(/images/pics/statusx_op.gif) no-repeat 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 11px;
  width: 11px;
}

#im_status, #im_rcpt {
  cursor: default;
  overflow: hidden;
  padding: 6px 0 0 7px;
}

/* Friends list */
#im_friends {
  padding: 0;
}
.im_friend {
  border-bottom: 1px solid #e4e8ed;
  color: #2B587A;
  font-weight: bold;
  padding: 8px 10px;
  height: 32px;
  cursor: pointer;
}
/*.im_friend:last-child {
  border-bottom: 0;
}*/
.im_friend div {
  padding: 9px 6px 0;
  width: 150px;
  height: 14px;
  text-overflow: ellipsis;
  o-text-overflow: ellipsis;
  overflow: hidden;
}
.im_chat div {
  width: 218px;
}

.im_friend img {
  width: 32px;
  height: 32px;
  overflow: hidden;
  padding-right: 6px;
}

.im_friend div em, .im_friend_over div em {
  background-color: #FFF8CC;
  border-bottom: 1px solid #FFE222;
  padding: 0;
  font-weight: bold;
  font-style: normal;
}

.im_friend div.online {
  float: none;
  width: auto;
  height: auto;
  padding-top: 9px;
  color: #738392;
  font-weight: normal;
}
.im_friend_over {
  background: #edf1f5;
}
#im_filter_out {
  clear: left;
  padding: 5px;
  position: relative;
}
#im_filter {
  margin: 0;
  padding: 5px 4px 4px 20px;
  width: 320px;
  height: 14px;
  line-height: 14px;
  background: #FFF url(/images/magglass.png) no-repeat 5px 6px;
}
#im_filter_reset {
  cursor: pointer;
  display: none;
  background: transparent url(/images/icons/input_clear.gif) 5px 7px no-repeat;
  padding: 5px;
  width: 11px;
  height: 11px;
  margin-left: -23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
  z-index: 100;
}
#im_search_prg {
  margin: 5px 10px 0px;
}

.im_none {
  font-size: 12px;
  margin: 10px;
  padding: 130px 0px;
  text-align: center;
  color: #777;
  display: none;
}

#transport_frame {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -100px
}

/* Scroll with fixed head and side menu */
.im_fixed_nav {

}
.im_fixed_nav #wrap1, .im_fixed_nav #wrap3 {
  border-bottom: 0px;
}
.im_fixed_nav #page_header, .im_fixed_nav #side_bar {
  position: fixed;
  z-index: 120;
}
.im_fixed_nav #im_nav_wrap, .im_fixed_nav #im_controls_wrap {
  position: fixed;
  z-index: 101;
}
.im_fixed_nav #im_controls_wrap {
  z-index: 90;
}
.im_fixed_nav #im_nav_wrap {
  width: 627px;
}
.im_fixed_nav #im_controls_wrap {
  width: 627px;
  /* bottom: 0; */
  bottom: -2px;
}

#im_rows_wrap {
  overflow: hidden;
}
.im_rows {
  min-height: 272px;
  padding: 10px 0;
  /*position: relative;*/
}
#im_rows0, #im_rows-1 {
  padding: 0;
}
#im_rows {
  position: relative;
}


/* Multi styles */
#im_friends_all_wrap,
#im_friends_sel_wrap {
  width: 290px;
  padding: 0 10px;
  vertical-align: top;
}
#im_friends_all_wrap {
  border-right: 1px solid #DBDEE5;
}
#im_friends_yes_wrap {
  display: none;
}
#im_friends_none {
  padding: 60px;
  color: #767676;
  font-size: 12px;
  text-align: center;
  line-height: 160%;
}
#im_friends_sel_count {
  padding: 15px;
  color: #767676;
  text-align: center;
}
#im_chat_title_input {
  margin: 0 0 10px;
  width: 152px;
}
#im_friends_sel_stats {
  width: 160px;
  margin: 0 auto;
}
#im_chat_start_wrap {
  text-align: center;
}
#im_chat_start {
  width: 158px;
}
#im_write, #im_leave, #im_appoint {
  float: none;
  padding-bottom: 0;
}
#im_friends_multi {
  display: none;
}
.im_chat_event .im_log_body {
  color: #777;
}
#privacy_chat_actions {
  float: none;
  padding: 0;
}
#privacy_dropdown #privacy_l_item201,
#privacy_dropdown #privacy_l_item202,
#privacy_dropdown #privacy_l_item203 {
  padding-left: 5px;
}
#privacy_l_item201 .privacy_item_icon,
#privacy_l_item202 .privacy_item_icon,
#privacy_l_item203 .privacy_item_icon {
  background-image: url(/images/icons/mono_iconset.gif?6);
  float: right;
  background-position: left 0;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin-top: 1px;
  *position: relative;
}
#privacy_l_item201 .privacy_item_icon { background-position: 0 -30px; }
#privacy_l_item202 .privacy_item_icon { background-position: 0 -75px; }
#privacy_l_item203 .privacy_item_icon { background-position: 0 -222px; }


#im_chatbox_list_members {
  width: 453px;
  padding: 0 0 0 5px;
  margin-top: -5px;
}
.im_chatbox_list_wrap {
  padding: 10px 10px 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
.im_chatbox_mem_wrap {
  padding-top: 15px;
}
div.im_chatbox_mem_photo {
  padding-right: 15px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
img.im_chatbox_mem_photo {
  width: 50px;
  height: 50px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_chatbox_mem_info {
  padding-top: 2px;
}
.im_chatbox_mem_name {
  font-weight: bold;
}
.im_chatbox_mem_online {
  font-weight: normal;
  color: #777;
  padding-left: 5px;
}
.im_chatbox_mem_info {
  width: 240px;
  padding-top: 8px;
  color: #777;
}
.im_chatbox_mem_control {
  display: block;
  width: 120px;
  padding: 5px;
}
a.im_chatbox_mem_control:hover {
  background-color: #E1E7ED;
  text-decoration: none;
}

.im_change_topic_label {
  padding-top: 4px;
  padding-right: 10px;
  color: #777;
  width: 170px;
}
#im_change_topic_val {
  width: 142px;
}

/* IM submit hint */
.im_submit_hint_wrap {
  width: 210px;
  height: 110px;
  /* padding: 10px; */
  padding: 8px 5px 8px;
}
.im_submit_hint_title {
  color: #2A5779;
  font-weight: bold;
  padding-bottom: 2px;
}
#im_submit_hint_opts .radiobtn {
  color: #000;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 160%;
}
#im_submit_hint_opts .radiobtn div {
  margin: 2px 5px 6px 0;
}
.im_submit_side_tt .side_sh {
  display: table-cell !important;
}
.im_submit_tail_wrap {
  position: absolute;
  top: 107px;
  left: 233px;
  z-index: 2001;
}
.im_submit_tail {
  width: 8px;
  height: 11px;
  background: url(/images/ddtooltip.png) -8px 0 no-repeat;
}
.im_friend_not_found, .im_find_in_mail {
  color: #6b839d;
  padding: 17px 10px;
  text-align: center;
  background: #edf0f5;
  border-bottom: 1px solid #E4E8ED;
}
a.im_find_in_mail {
  background: #f5f8fc;
  font-weight: normal;
  height: auto;
  display: block;
}
a.im_find_in_mail:hover {
  text-decoration: none;
}
a.im_find_in_mail.im_friend_over {
  background: #edf1f5;
}

/* IM mail forward */
.media_mail_icon {
  float: left;
  background: url(/images/icons/mono_iconset.gif?6) no-repeat 0 -294px;
  width: 11px;
  height: 11px;
  margin-right: 3px;
}
.im_preview_mail_wrap .media_mail_icon {
  margin-left: 3px;
}
.im_single_log_wrap {
  max-height: 600px;
  *height: 600px;
  max-width: 5000px;
  overflow: auto;
}
.im_single_log {
  padding: 5px 10px 5px;
  position: relative;
}
.im_browse_msg_images {
  padding-top: 4px;
}
.im_failed .im_log_author,
.im_failed .im_log_body,
.im_failed .im_log_date
{
  background: #FDF5F2;
}

.im_write {
  background: #F7F7F7;
  padding: 8px 103px 70px;
}
.imw_header {
  color: #45688E;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
  padding: 24px 0px 9px;
  font-size: 12px;
}
#imw_ava {
  position: absolute;
  margin: 27px -62px 0px;
}
#imw_inp {
  width: 382px;
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}
#imw_attach {
  margin: 6px 9px 0px;
}
.imw_text_wrap {
  padding-bottom: 14px;
}
#imw_text {
  width: 409px;
  height: 90px;
  padding: 5px;
  vertical-align: top;
  margin: 0px;
}
#imw_warn {
  color: #777;
  padding-bottom: 14px;
  display: none;
}
#imw_media_preview {
  padding-bottom: 6px;
  display: none;
}
#imw_title_wrap {
  display: none;
}
#imw_title {
  width: 409px;
  padding: 6px 5px 8px;
}

.im_title_wrap {
  padding-bottom: 8px;
  display: none;
}
.im_title {
  width: 350px;
}
.im_subj {
  font-weight: bold;
  margin: 2px 0px 4px;
}
.dialogs_msg_text .im_subj {
  margin-top: 0px;
}
