#ui_controls_css {
  display: none;
}

.selector_container,
.checkbox_container {
  zoom: 1;
}

.selector_container table.selector_table {
  width: 100%;
  z-index: 0;
  border: 1px solid #C0CAD5;
  margin: 0;
}

.selector_container table td {
  vertical-align: middle;
}

.selector_container td.selector_dropdown {
  z-index: 0;
  width: 16px;
  cursor: default;
  background: url('/images/darr_dd_out.gif') #FFF no-repeat center;
  border: none;
  border-left: 1px solid #FFF;
  padding: 0px;
}

.selector_focused td.selector_dropdown {
  background-color: #E1E8ED;
  border-left: 1px solid #D2DBE0;
}

.selector_container td.selector {
  border: none;
  padding: 2px 0px 0px 2px;
  background: #FFF;
  height: 1%;
  overflow: hidden;
}

.selector_container td.selector: after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.selector input {
  background: #FFF;
  float: left;
  width: 100px;
  *height: 16px!important; /*IE 7*/
  height: 15px;
  margin: 0px 0px 1px 0px;
  padding: 1px 0px 1px 3px!important;
  padding: 2px 0px 0px 4px;
  outline: none;
  font: 11px tahoma,verdana,arial,sans-serif;
  line-height: 12px;
  border: none;
}

.selector input.ph { /* placeholder with color: #afb8c2; - looks bad when not alone */
  color: #afb8c2;
}

.selector input.selected,
.selector input.focused {
  color: #000;
}
.dropdown_container input {
  cursor: default;
}

.token {
  font-size: 11px;
  line-height: 11px;
  color: #000;
  cursor: default;
  background: #DAE2E8;
  display: block;
  padding: 2px 2px 3px 4px!important;
  padding: 1px 2px 2px 4px; /*IE 6*/
  white-space: nowrap;
  *padding: 1px 2px 2px 4px!important; /*IE 7*/

   float: left;
  margin: 0px;
  border: solid #FFF;
  border-width: 0px 2px 2px 0px;
}

.token_hover {
  background: #587DA1;
  color: #FFFFFF;
}

.token_selected {
  background: #2A5883;
  color: #FFFFFF;
}

.token span.x,
.token span.x_hover {
  background: url('/images/blob_x.gif') center no-repeat;
  display: inline-block;
  sborder: 1px solid;
  width: 16px;
  height: 8px!important;
  cursor: pointer;
  vertical-align: top;
  padding: 0;
  margin: 2px 0px 0px 2px!important;

  *margin-top: 3px!important; /*IE 7*/
  margin: 0px; /*IE 6*/
}



.selector_container.disabled .selector {
  border-color: #CACACA;
  background: #F2F2F2;
}
.selector_container.disabled .selector_dropdown {
  background: url('/images/darr_dd_disabled.gif') no-repeat center;
}

.selector_container.disabled .token {
  color: #777;
  background: #E7E7E7;
}
.selector_container.disabled .token span.x {
  background: url('/images/blob_x_disabled.gif') center no-repeat;
}
.selector_container.disabled input {
  color: #777;
  background: #F2F2F2;
}

/* Autocompleter */
.results_container {
  position: absolute;
  z-index: 100;
}
.result_list {
  margin: -1px 0px 0px;
  position: absolute;
  opacity: 0.95;
  filter: alpha(opacity=95);
  left: 0;
  overflow-y: hidden;
  border: 1px solid #ADADAD;
  border-width: 1px 0px 0px;
  z-index: 100;
}

.result_list_shadow {
  margin: 0px;
  position: absolute;
  left: 0;
  overflow: hidden;
  border: 0;
  z-index: 100;
  height: 2px;
  display: none;
}
.result_list_shadow.reverse {
  visibility: hidden;
}

.result_list_shadow .shadow1,
.result_list_shadow .shadow2 {
  height: 1px;
  background-color: #000;
  opacity: 0.12;
  filter: alpha(opacity=12);
  overflow: hidden;
}
.result_list_shadow .shadow2 {
  opacity: 0.05;
  filter: alpha(opacity=5);
}
.result_list_scrollable {
  border: 1px solid #ADADAD;
  border-width: 1px 0px;
  overflow-y: scroll;
}
.result_list_scrollable.reverse {
  border-top: 1px solid #CCC;
}

.result_list li.disabled {
  background: #eee;
  padding: 5px 5px 4px 6px;
  cursor: default;
  border: 1px solid #CCC;
  border-top: none;
  text-align: left;
}
.result_list.reverse li.disabled {
  border-top: 1px solid #CCC;
}

.result_list ul {
  margin: 0;
  padding: 0;
  background: #FFF;
  position: relative;
  zoom: 1; /* negative margin IE fix*/
}


.result_list ul li {
  color: #000;
  padding: 3px 0px 3px 10px;
  list-style-type: none;
  border: 1px solid #CCC;
  border-width: 0px 1px 1px 1px;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
  position: relative;
  margin: -1px 0px 0px 0px;
  overflow: hidden;
  text-align: left;
  line-height: 13px;
  font-size: 11px;
}
.result_list.reverse ul li {
  padding-top: 3px;
}

.dividing_line ul li {
  border-bottom: 1px solid #CCC;
}

.result_list ul li.first {
  border-top: 1px solid #CCC;
  padding-top: 3px;
}
.result_list ul li.last {
 border-bottom: 1px solid #ADADAD;
}

.result_list ul li.active {
  background: #587DA1;
  color: #FFF;
  border: 1px solid #2A5883;
  padding-top: 2px;
  z-index: 1;
}

.result_list ul li.first.active {
   padding-top: 2px;
   margin-top: 0px;
}

.result_list_scrollable ul li.first {
   border-top: 1px solid #CCC;
}
.result_list_scrollable ul li.first.active {
   border-top: 1px solid #2A5883;
   padding-top: 2px;
   margin-top: 0px;
}
.result_list_scrollable ul li.last {
  border-bottom: 0px solid #FFF;
  padding-bottom: 3px;
}
.result_list_scrollable ul li.last.active {
  border-bottom: 1px solid #2A5883;
  padding-bottom: 2px;
}

.result_list ul li.active span {
  color: #aabbd4;
}
.result_list ul li.active em {
  background: #2A5883;
  color: #FFF;
}
.result_list ul li em {
  font-weight: bold;
  font-style: normal;
  background: #DAE2E8;
  color: #000;
}
.result_list ul li span {
  display: block;
  padding-top: 2px;
  color: #777;
  font-size: 7pt;
}

/* Mobile selector fixes start */
.mobile_selector_container input {
  -webkit-appearance: none;
}
.mobile_selector_container .result_list {
  opacity: 1;
}
/* Mobile selector fixes end */

.checkbox_container,
.radiobtn_container {
  cursor: pointer;
}

.checkbox_container table,
.radiobtn_container table {
  width: 100%;
  z-index: 0;
  margin: 5px 0px 5px 0px;
}

.checkbox_container table td,
.radiobtn_container table td {
  vertical-align: middle;
}

.checkbox_container table td.checkbox {
  width: 20px;
  padding: 2px 0px 0px;
}

.checkbox_container table td.checkbox_label,
.radiobtn_container table td.radiobtn_label {
  line-height: 140%;
  padding: 0px 0px 0px 3px;
  text-align: left;
}

.checkbox_container table td.checkbox_label {
  padding-top: 1px;
}

.checkbox_container table td .checkbox_on,
.checkbox_container table td .checkbox_off,
.checkbox_container table td .checkbox_on_over,
.checkbox_container table td .checkbox_off_over {
  height: 14px;
  width: 15px;
  overflow: hidden;
  background: transparent url(/images/icons/check.gif?1) 0px 0px no-repeat;
}

.checkbox_container table td .checkbox_on {
  background-position: 0px -14px;
}

.checkbox_container table td .checkbox_off_over {
  background-position: 0px -28px;
}

.checkbox_container table td .checkbox_on_over {
  background-position: 0px -42px;
}

.radiobtn_container table td.radiobtn {
  width: 20px;
  padding: 1px 0px 0px;
}

.radiobtn_container input {
  display: none;
}

.radiobtn_container table td .radiobtn_on,
.radiobtn_container table td .radiobtn_off,
.radiobtn_container table td .radiobtn_on_over,
.radiobtn_container table td .radiobtn_off_over {
  height: 14px;
  width: 15px;
  overflow: hidden;
}

.radiobtn_container table td .radiobtn_on div,
.radiobtn_container table td .radiobtn_off div,
.radiobtn_container table td .radiobtn_on_over div,
.radiobtn_container table td .radiobtn_off_over div {
  width: 14px;
  height: 56px;
  background: transparent url(/images/icons/radio.png?1) 0px 0px no-repeat;
  behavior: url(/js/iepngfix.htc);
}

.radiobtn_container table td .radiobtn_on div {
  margin-top: -14px;
}

.radiobtn_container table td .radiobtn_off_over div {
  margin-top: -28px;
}

.radiobtn_container table td .radiobtn_on_over div {
  margin-top: -42px;
}

/* Dropdown menu */
a.dd_menu_target:hover {
  text-decoration: none !important;
}
a.dd_link,
.pageBody a.dd_link {
  background: url(/images/flydead.gif) no-repeat right 1px;
  padding-right: 17px;
  font-weight: normal;
  text-decoration: none;
}

.dd_menu {
   position: absolute;
   z-index: 1500;
}
.dd_menu_header {
  border: 1px solid #3B6798;
  position: absolute;
  z-index: 1500;
  cursor: pointer;
  _margin-left: 1px;
}
.dd_menu_header div {
  border-color: #7E9CBC #5C82AB #6D8FB3;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  padding: 2px 5px;
  white-space: nowrap;
  padding-right: 17px;
  line-height: 14px;
  *line-height: 13px;
  *padding-right: 16px;
  background: #6D8FB3 url(/images/flydead.gif) no-repeat right -15px;
  *background-position: -14px right;
}
.dd_menu_header.leftArrow div {
  background: #6D8FB3 url(/images/flydead.gif) no-repeat 1px -15px;
  padding-right: 5px;
  padding-left: 16px;
  *background-position: 14px left;
}
.dd_header_hover {
  border-color: #DAE1E8;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.dd_header_hover div {
  background: #DAE1E8 url(/images/flydead.gif) no-repeat right 3px;
  *background-position: 4px right;
  color: #2B587A;
  border-color: #DAE1E8;
}
html>/**/body .dd_menu_header div, x:-moz-any-link {
  padding-top: 1px;
}
.dd_menu_body {
  position: absolute;
  z-index: 1499;
  margin-left: -1px;
  _margin-left: 0px;
}
.dd_menu_rows {
  border: 1px solid #96AABE;
  margin: 0;
  background: #FFFFFF;
  position: relative;
  z-index: 1499;
}
.dd_menu_rows a{
  background: #FFFFFF;
  display: block;
  line-height: 12px;
  padding: 4px 6px 0 6px;
  height: 18px;
  *height: 17px;
  white-space: nowrap;
  cursor: pointer;
  background-repeat: no-repeat;
}
.dd_menu_rows a:hover,
.dd_menu_rows a.dd_a_hover{
  background-color: #DAE2E8;
  text-decoration: none;
}
.dd_menu_shad_l div,
.dd_menu_shad_r div {
  width: 1px
}
.dd_menu_shad_l {
  background: #000000;
  filter: alpha(opacity=6);
  opacity: 0.06;
  overflow: hidden;
  width: 1px;
}
.dd_menu_shad_b,
.dd_menu_shad_b2 {
  background: #000000;
  height: 2px;
  margin-top: -1px;
  filter: alpha(opacity=7);
  opacity: 0.07;
  overflow: hidden;
  position: relative;
  z-index: 148;
}
.dd_menu_shad_b2 {
  filter: alpha(opacity=5);
  opacity: 0.05;
}
.dd_menu_shad_r {
  background: #000000;
  filter: alpha(opacity=6);
  opacity: 0.06;
  overflow: hidden;
  width: 1px;
}

.checkbox_container.disabled {
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.checkbox_container.disabled td.checkbox div.checkbox_on_over {
  background-position: 0px -14px;
}
.checkbox_container.disabled td.checkbox div.checkbox_off_over {
  background-position: 0px 0px;
}


/* Dropdownmenu custom styles */
.dd_menu_checkable .dd_menu_rows a div {
  width: 20px;
  height: 20px;
  float: left;
}
.dd_menu_rows a img {
  float: left;
  visibility: hidden;
  margin-right: 3px;
}
.dd_menu_rows a.checked img {
  visibility: visible;
}


/* Inline edit styles */
.inlContainer {
  position: absolute;
  display: none;
  z-index: 10;
}
.inlFrame00,
.inlFrame01,
.inlFrame02,
.inlFrame10,
.inlFrame12,
.inlFrame20,
.inlFrame21,
.inlFrame22 {
  background: #c5ced7;
  opacity: 0.75;
  filter: alpha(opacity=75);
  width: 5px;
}
.inlFrame01,
.inlFrame21 {
  width: auto;
}
.inlFrame01 div,
.inlFrame21 div {
  height: 5px;
}
.inlContainer table {
  border: 0;
  border-collapse: collapse;
}
.inlContainer td {
  border: 0;
  padding: 0;
}
.inlMainTable td.inlContent {
  background: #F2F2F2;
  border: 1px solid #AAAAAA;
  padding: 7px;
}

.inlButtonOk,
.inlButtonCancel {
  width: 50%;
}

.inlContentTable .button_yes,
.inlContentTable .button_no {
  margin: 7px 0 0 0;
}
.inlContentTable .button_no {
  margin-left: 7px;
}

.inlInput {
  margin: 0;
}
