extends ../../layout.pug

block head
  style.
    h1 {
      position: fixed;
      bottom: calc( 100% / 10 );
      z-index: 999;
      width: 100%;
      text-align: center;
      font-family: 'Poiret One', cursive;
      color: #193441;
      font-size: 48pt;
      text-shadow: 0px 1px 1px #91AA9D, 0px 0px 100px #3E606F, 0px 0px 30px #D1DBBD;
    }

    h3 {
      position: fixed;
      bottom: calc( 100% / 40 );
      z-index: 999;
      width: 100%;
      text-align: center;
      font-family: 'Poiret One', cursive;
      color: red;
      font-size: 18pt;
      text-shadow: 0px 1px 1px pink, 0px 0px 100px pink, 0px 0px 30px pink;
    }

block body
  h1 Happy Easter!
  h3 click to make magic!



