nav.uk-navbar-container.filter(uk-navbar='' style="background: #ececec")
  .uk-navbar-left.uk-width-1-1
    .uk-navbar-item.uk-width-1-1
      form.uk-search.uk-search-navbar.uk-width-1-1
        span(uk-search-icon='')
        input.uk-search-input(type='search', placeholder='filter examples...')
