html
  head
    include meta.pug
    style.
      @import url('https://fonts.googleapis.com/css?family=Cabin|Fjalla+One|Montserrat|Oxygen');
    script(src='/assets/js/script.js')
    include style.pug
  body
    div.ui.menu.sidebar.vertical.inverted.left.overlay.visible.styled#sidebar
      h2.item.ui.header
        a.ui.huge.logo.image(href='/')
          img(src='https://avatars3.githubusercontent.com/u/16437392?v=3&s=200')
        div.content
          span Examples
          div.sub.header
            a(href='https://github.com/WhitestormJS/whitestorm.js' target='_blank') GitHub
            = " "
            span /
            = " "
            a(href='https://whsjs.readme.io/docs' target='_blank') Docs
            = " "
            span /
            = " "
            a(href='https://discordapp.com/invite/frNetGE' target='_blank') Chat

      each category in categories
        div.item
          h2.ui.header #{category}
          div.vertical.pointing.menu
            each path in paths
              if !path.indexOf(category)
                div.item.minor
                  a.ui.medium.header(href='?' + path) #{path.replace('/', ' / ')}

    a.source(href="/" target="_blank") Source code

    script.
      var iframe = document.createElement('iframe');
      var rootPath = #{devMode} ? '' : '/examples';
      var link = window.location.search ? '/' + window.location.search.substring(1, window.location.search.length) + '/' : '/basic/helloworld/';

      iframe.src = rootPath + link;
      document.querySelector('a.source').href = 'https://github.com/WhitestormJS/whitestorm.js/tree/beta/examples/' + link + '/script.js';

      document.body.appendChild(iframe);
      var links = document.querySelectorAll('a');

      for (var i = 0, max = links.length; i < max; i++) {
        links[i].addEventListener('click', function() {
          window.location.reload();
        });
      }
