html
  head
    include meta.pug
    style.
      @import url('https://fonts.googleapis.com/css?family=Cabin|Fjalla+One|Montserrat|Oxygen');
    script(src='/assets/js/script.js')
    include style.pug
  body
    div.ui.menu.sidebar.vertical.inverted.left.overlay.visible#sidebar
      div.item
        a.ui.mini.logo.icon.image(href='/')
          img(src='/assets/img/whs-logo.png')
        a(href='/')
          span Examples

      each category in categories
        div.item
          div.header #{category}
          div.menu
            each path in paths
              if !path.indexOf(category)
                a.ui.item(href='?' + path) #{path.replace('/', ' / ')}

    a.source(href="/" target="_blank") Source code

    script.
      var iframe = document.createElement('iframe');
      var rootPath = #{devMode} ? '' : '/examples';
      var link = window.location.search ? '/' + window.location.search.substring(1, window.location.search.length) + '/' : '/basic/helloworld/';

      iframe.src = rootPath + link;
      document.querySelector('a.source').href = 'https://github.com/WhitestormJS/whitestorm.js/tree/beta/examples/' + link + '/script.js';

      document.body.appendChild(iframe);
      var links = document.querySelectorAll('a');

      for (var i = 0, max = links.length; i < max; i++) {
        links[i].addEventListener('click', function() {
          window.location.reload();
        });
      }
