html
  head
    title Example
    include meta.pug
    block head
    link(rel='stylesheet', href='/examples/assets/css/vendor.css', type='text/css')
    link(rel='stylesheet', href='/examples/assets/css/layout.css', type='text/css' )
  body
    block body

    block dependencies
      script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js')
      script(src='../../../build/whs.js')
      block stats
        script(src='../../../modules/StatsModule.js')
      block additional
      script(src=physicsModule)

    block scripts
      script(src=`./${scriptname}`)
