html
  head
    title Example
    include meta.pug
    block head
    link(rel='stylesheet', href='../../assets/css/layout.css', type='text/css' )
  body
    block body

    block dependencies
      script(src='../../../build/whitestorm.js')
      block additional
        script(src='../../../modules/whs-module-statsjs/build/StatsModule.js')
      script(src=physicsModule)

    block scripts
      script(src=`./${scriptname}`)
