meta(charset="utf-8")
meta(http-equiv="content-language" content="en")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="WhitestormJS is a 3D Javascript engine based on Three.js (http://threejs.org/). It uses physics and effects libraries to define WhitestormJS API that contains useful scripts for terrain generation, skybox, animation, physics simulation and post-effects. WhitestormJS simplifies Three.js object crafting algorithm to javascript methods with parameters.")
meta(name="keywords" content="three.js,cannon.js,webgl,wagner,WHS.API,3d,web,javascript")
meta(name="author" content="Alexander Buzin")
meta(property="og:title" content="WhitestormJS 3D Engine")
meta(property="og:site_name" content="WhitestormJS 3D Engine")
meta(property="og:type" content="website")
meta(property="og:locale" content="en_US")
meta(property="og:url" content="https://cdnjs.com/libraries/whitestorm.js")
meta(property="og:description" content="WhitestormJS is a 3D Javascript engine based on Three.js (http://threejs.org/). It uses physics and effects libraries to define WhitestormJS API that contains useful scripts for terrain generation, skybox, animation, physics simulation and post-effects. WhitestormJS simplifies Three.js object crafting algorithm to javascript methods with parameters.")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@whitestormjs")
meta(name="twitter:title" content="whitestormjs")
meta(name="twitter:description" content="WhitestormJS 3D Engine")
link(rel="shortcut icon" type="image/x-icon" href="https://whs.io/favicon.ico")
link(rel="apple-touch-icon-precomposed" href="https://whs.io/favicon.ico" sizes="57x57")
meta(name="msapplication-square150x150logo" content="../development/art/logo/Icon-72@2.png")
