{
    "presets": [
      "stage-1"
    ],
    "plugins": [
        "transform-runtime",
        ["transform-es2015-modules-commonjs", {
            "allowTopLevelThis": true,
            "strict": true,
            "loose": true
        }]
    ],
    "env": {
        "node": {
            "presets": [
                "es2015"
            ]
        },
        "browser": {
            "presets": [
                "es2015-rollup"
            ]
        }
    }
}
