{
    "presets": [
      "stage-1"
    ],
    "plugins": [
        "transform-runtime"
    ],
    "env": {
        "node": {
            "presets": [
                "es2015"
            ]
        },
        "browser": {
            "presets": [
                "es2015-webpack"
            ]
        }
    }
}
