extends ../../layout.pug

block body
  div(id="embed" style="position: relative; left: 50px; top: 100px; width: 600px; height: 300px;")
    div(id="sizer" style="position: absolute; right: -20px; height: inherit; width: 20px; background: #ccc;")
