html, body {
  position: relative;
  height: 100%;
  margin:0;
  padding: 0;
  overflow: hidden;
  background: #262C38;
}

div.ui.sidebar.vertical.inverted.menu.left.overlay.visible {
  width: 300px;
  overflow: auto;
  font-size: 1.3rem;
  background: #262C38;
}

.logo.image {
  margin-right: 1em;
}

iframe {
  width: calc(100% - 300px);
  float: right;
  height: 100%;
  border: none;
}

a.source {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.1s linear;
}

a.source:hover {
  background: #fff;
  color: #078BDA;
}
